[2020-10-05 15:25] div-bargali opened #1 "Implement Data Structures and Algorithms"
## Implement data structures and algorithms in any preferred languages.

### **Steps to contribute -**

1. Open a new issue stating the algorithm/datastructure you want to implement.
2. Create a new PR and reference the issue in that PR.
3. Wait for the PR to be merged 🎉.

[2020-10-05 15:29] NEENA-XAVIER commented on #1
I would like to add stack implementation using array in c !

[2020-10-05 15:36] Ambareen09 commented on #1
I would like to add Josephus Problem code in c++.

[2020-10-05 15:38] psymbio commented on #1
@div-bargali can I add stacks, queues, linked list implementations?

[2020-10-05 16:55] div-bargali commented on #1
To maintain a proper directory management 📂 please add the file inside a directory in following structure:
<Language>/<Algorithm | Data Structure>/<your file or folder>

[2020-10-05 17:11] div-bargali commented on #1
@psymbio Sure go ahead. Make sure they aren't already implemented and maintain a proper director.

[2020-10-05 18:17] div-bargali opened #11 "Maintain a proper directory structure."
Make necessary changes to maintain a proper directory folder. Required directory structure should look like: <br>
`<Language>/<Algorithms>/<Algorithm Paradigm>/<. . .>`
`<Language>/<Data Structures>/<Data Structure name>/<. . .>`

Make necessary changes in readme file to indicate the above mentioned requirement before creating a new pull request!

[2020-10-05 19:08] Ashish7129 commented on #1
Hi @div-bargali ,

Can I add searching algorithms like linear or binary ??

[2020-10-05 19:24] RahulRS246 commented on #1
i would like to add queue using linked list in java

[2020-10-05 20:21] jleahwolff commented on #1
Could I add Merge Sort for Python?

[2020-10-05 20:44] aditimaurya commented on #1
I'd like to add sorting algorithm on python ( shell sort, bubble sort, selection sort, insertion sort, merge sort)
I'll check before adding them if they are already present or not. Kindly assign me this 🙂

[2020-10-06 02:39] prajnapuranik commented on #1
Hey, can I add Bubblesort algorithm implementation in Java?

[2020-10-06 03:21] NirmalKumarJoshi commented on #1
Hey @div-bargali I want to add Binary and Linear Search in C++. Can I proceed?

[2020-10-06 05:19] div-bargali commented on #1
@NirmalKumarJoshi Sure.

[2020-10-06 05:38] div-bargali commented on #1
Please create new issues for different languages. 😃

[2020-10-06 06:12] vaishnavirshah commented on #1
Hi @div-bargali I want to add BST implementation in C++. Can i proceed?

[2020-10-06 06:36] div-bargali commented on #1
@vaishnavirshah Sure 👍 , create a new issue and reference the issue in your PR.

[2020-10-06 08:29] GGn0 commented on #11
Hi!
Can I work on it?

[2020-10-06 08:58] JigarJoshi04 commented on #11
I'm also ready to work. Assign it to any one of us

[2020-10-06 09:19] div-bargali commented on #11
Assigned to @GGn0 . Make sure you add the requirements as a note at the end of readme file.

[2020-10-06 09:26] nirajmalpani commented on #1
I would like to add stack implementation in python

[2020-10-06 09:28] iamvs-2002 commented on #1
I would like to add more data structure implementations like Linked Lists, Queues, Heaps and Trees in C

[2020-10-06 09:34] div-bargali commented on #1
@nirajmalpani @iamvs-2002 Make a new issue please. And reference that issue in your PR.

[2020-10-06 09:37] iamvs-2002 opened #29 "Addition of more data structure implementations"
I am interested to contribute to this repository by adding more implementations for datastructures like Linked Lists, Queues, Trees and Heaps in C language.

[2020-10-06 09:38] div-bargali commented on #29
Assigned to @iamvs-2002

[2020-10-06 09:38] iamvs-2002 commented on #29
Thanks a lot for assigning this task to me.

[2020-10-06 09:48] nirajmalpani opened #31 "implement stack"

[2020-10-06 09:49] nirajmalpani commented on #1
done @div-bargali

[2020-10-06 09:55] div-bargali commented on #31
Please mention the language as well.

[2020-10-06 09:58] div-bargali commented on #31
Issue solved in #30

[2020-10-06 09:58] #31 closed

[2020-10-06 09:58] iamvs-2002 commented on #29
I forked the repository and did the implementations. Could please check my contributions.

[2020-10-06 09:59] div-bargali commented on #29
Create a pull request first.

[2020-10-06 10:00] iamvs-2002 commented on #29
So, there is no need of forking this repository?

[2020-10-06 10:06] iamvs-2002 commented on #29
Done!

[2020-10-06 10:12] nirajmalpani commented on #1
Can I contribute more like on some sorting algorithms in python?

[2020-10-06 10:19] UsamaKashif opened #33 "Linked list in python"
I will add Linked List in Python

[2020-10-06 10:33] div-bargali commented on #29
Solved in #32

[2020-10-06 10:33] #29 closed

[2020-10-06 10:33] div-bargali commented on #33
Assigned to @UsamaKashif

[2020-10-06 10:35] div-bargali commented on #1
@NirmalKumarJoshi Sure, create a new issue, make sure the algoritms aren't already implemented.

[2020-10-06 11:30] Poobalan1210 commented on #33
I will add doubly linked list in Python.Can you assign me.

[2020-10-06 11:57] div-bargali commented on #11
Fixed in #36

[2020-10-06 12:05] div-bargali commented on #33
@Poobalan1210 Sure create a new issue.

[2020-10-06 12:05] div-bargali commented on #33
Solved #37

[2020-10-06 12:05] #33 closed

[2020-10-06 12:06] huyhoang8398 opened #38 "Linked list in Go Lang"
I will add Linked List in Go lang

[2020-10-06 12:06] ug2454 opened #39 "Implement Stack in Java || Data Structures"
implement stack in java using array and linked List

[2020-10-06 12:07] div-bargali commented on #38
Assigned to @huyhoang8398

[2020-10-06 12:15] div-bargali commented on #39
@ug2454 Make sure the folder structure is as specified in [Contribution Guide](https://github.com/div-bargali/Data-Structures-and-Algorithms/blob/main/CONTRIBUTING.md)

[2020-10-06 12:26] div-bargali commented on #11
@JigarJoshi04 Would you like to work on it?

[2020-10-06 12:34] kokilgupta commented on #1
Can I add selection sort and fractional knapsack?

[2020-10-06 12:39] ug2454 commented on #39
@div-bargali i have added. Is the directory structure acceptable?

[2020-10-06 12:45] Poobalan1210 opened #41 "Doubly Linked List in Python"
Implementing the doubly linked list data structure in python.

[2020-10-06 12:47] nirajmalpani opened #42 "sorting algorithms in python"

[2020-10-06 13:12] Poobalan1210 commented on #41
/lm add hacktoberfest

[2020-10-06 13:42] div-bargali commented on #38
Solved in #45

[2020-10-06 13:42] #38 closed

[2020-10-06 13:50] huyhoang8398 opened #47 "Binary search tree in Go"
I will add Binary search tree in Go lang

[2020-10-06 13:51] huyhoang8398 opened #48 "Hash Table in Go"
I will add Hash Table in Go lang

[2020-10-06 14:03] div-bargali commented on #39
Solved in #40

[2020-10-06 14:03] #39 closed

[2020-10-06 14:17] divyakantyadav opened #49 "Implement Stack Data structure in golang"
Implement Stack Data structure in golang

[2020-10-06 14:18] divyakantyadav commented on #49
I can pick this.

[2020-10-06 14:18] divyakantyadav opened #50 "Implement Queue Data structure in golang"
Implement Queue Data structure in golang

[2020-10-06 14:19] divyakantyadav commented on #50
Can you assign this to me

[2020-10-06 14:19] divyakantyadav commented on #50
Reopening

[2020-10-06 14:24] div-bargali commented on #47
Closed in #51

[2020-10-06 14:24] #47 closed

[2020-10-06 14:35] coder-dev-geek commented on #11
@div-bargali Please assign it to me!

[2020-10-06 16:23] div-bargali commented on #11
Fixed in #54

[2020-10-06 16:23] #11 closed

[2020-10-06 16:59] div-bargali commented on #48
@huyhoang8398 #52 Please make a new PR as the Directory structure has changes since your last fork. I have reverted the merged pr in #55

[2020-10-06 18:32] vaishnavirshah opened #60 "BST implementation in CPP"

[2020-10-06 19:03] josiahroa18 opened #63 "BST Traversal in Python"
I can implement _recursive_ pre-order, in-order, and post-order traversals in the Python BST class.

[2020-10-06 19:07] josiahroa18 opened #64 "BST traversal in python"
I can implement _recursive_ pre-order, in-order, and post-order traversals in the Python BST class.

[2020-10-06 19:07] #64 closed

[2020-10-06 19:16] divyakantyadav commented on #49
#59

[2020-10-06 19:16] #49 closed

[2020-10-06 19:16] divyakantyadav commented on #50
#62

[2020-10-06 19:24] DvnOshin commented on #42
I would like to add Insertion sort in python.

[2020-10-06 19:46] DvnOshin opened #66 "Insertion Sort in Python"
i would like to add insertion sort in python.

[2020-10-07 04:55] div-bargali commented on #50
Closed in #62

[2020-10-07 04:55] #50 closed

[2020-10-07 04:58] div-bargali commented on #48
Resolved in #65

[2020-10-07 04:58] #48 closed

[2020-10-07 05:04] div-bargali commented on #42
@nirajmalpani @DvnOshin Some algorithms are already implemented, sync your repos with the main repo. Refer Contribution Guide to check how.

[2020-10-07 05:07] div-bargali commented on #63
Assigned to @josiahroa18. Make changes in the same file, please do not add another file to avoid duplicates.

[2020-10-07 05:08] div-bargali commented on #60
Assigned to @vaishnavirshah

[2020-10-07 05:09] div-bargali commented on #66
@DvnOshin Insertion sort already exits.

[2020-10-07 05:09] #66 closed

[2020-10-07 05:40] div-bargali opened #71 "Sorting Algorithms in C"
Implement various sorting algorithms in C.

### **Steps to contribute -**
1. Open a new issue stating the algorithm you want to implement.
2. Create a new PR and reference the issue in that PR.
3. Wait for the PR to be merged 🎉.

[2020-10-07 05:48] div-bargali commented on #63
Resolved in #72

[2020-10-07 05:48] #63 closed

[2020-10-07 06:39] adata111 commented on #71
I'd like to do merge sort and selection sort

[2020-10-07 07:21] div-bargali opened #78 "Competitive coding problems."
### Would you guys like to implement solutions of famous coding problems? 🤔
If yes, let me know! 👍

[2020-10-07 07:22] jai2dev opened #79 "Searching Algorithms in Python; like Linear search, Binary search and Jump search"

[2020-10-07 07:24] jai2dev commented on #78
Yes

[2020-10-07 07:50] p-nath commented on #78
Yeah, that would be great!

[2020-10-07 08:11] harsh1206 opened #83 "Sorting algorithms Bubble Sort in C++"
Please assign this issue to me

[2020-10-07 08:12] RamneekKaur983 commented on #78
Yess!!!

[2020-10-07 08:13] RamneekKaur983 commented on #1
I want to add KMP Pattern Searching Algorithm in Java

[2020-10-07 08:15] RamneekKaur983 opened #84 "I want to add KMP Pattern Searching Algorithm in Java"
i want to add KMP algorithm for searching  a given pattern in a string in Java.

[2020-10-07 08:33] sjatin-cse opened #86 "Stack implementation using linked lists in c"
I want to add  Stack implementation using linked lists in c.

[2020-10-07 08:35] suprimnakarmi commented on #79
Can you please assign this to me too?

[2020-10-07 08:42] Sourabh950 opened #87 "Implimented Bubble sort algo in c"
i am sorry i forgot to create a new issue but if its ok, then please marge the request.

[2020-10-07 08:49] Anjali001 opened #88 "Add Kmeans and CNN algos (Python)"
Hello.
I wish to contribute by adding Kmeans clustering algorithm and Convolutional Neural Network Algo  in Python. Can I proceed with that? If yes , please add the hacktober label to this issue.
Also, should I contribute in .py or .ipynb ?

[2020-10-07 08:51] jai2dev commented on #79
@suprimnakarmi I will be doing linear search binary search and Jump search, If you find any other algorithms then mention it.

[2020-10-07 09:24] suprimnakarmi commented on #79
Okay, @jai2dev. Can I do interpolation search and exponential search?

[2020-10-07 10:25] RamneekKaur983 commented on #84
I have created the PR for KMP pattern searching algorithm.

[2020-10-07 10:38] SusnatoPrime007 commented on #79
Can I do the fibonacci search in Java or Python?

[2020-10-07 10:44] SusnatoPrime007 commented on #71
I'd be doing the quick sort.

[2020-10-07 10:47] SusnatoPrime007 opened #95 "I'd be doing the quick sort."
I'd be doing the quick sort.

_Originally posted by @SusnatoPrime007 in https://github.com/div-bargali/Data-Structures-and-Algorithms/issues/71#issuecomment-704852818_

[2020-10-07 10:56] SusnatoPrime007 commented on #86
Please assign this to me

[2020-10-07 10:58] div-bargali commented on #88
Hi @Anjali001. Sure, you can go ahead 👍
If it's possible, contribute in .py, but Jupyter Notebook is aceepted as well.

[2020-10-07 11:00] SusnatoPrime007 commented on #87
Please assign me to this.

[2020-10-07 11:01] div-bargali commented on #87
Bubble Sort is already implemented, duplicates are not allowed 🚫

[2020-10-07 11:01] #87 closed

[2020-10-07 11:03] div-bargali commented on #86
Assigned to @sjatin-cse based on issue creation.

[2020-10-07 11:03] SusnatoPrime007 commented on #1
I want to do stack using Java

[2020-10-07 11:05] Mohinig commented on #60
Can i work on this issue??

[2020-10-07 11:05] div-bargali commented on #79
@suprimnakarmi @SusnatoPrime007 Open new issues guys. Make sure its not already implemented or suggested in any issue.

[2020-10-07 11:08] SusnatoPrime007 commented on #79
Can I also do the bubble sort in Java?

[2020-10-07 11:10] div-bargali commented on #83
Resolved in #89

[2020-10-07 11:10] #83 closed

[2020-10-07 11:11] RamneekKaur983 commented on #84
Please look into my PR

[2020-10-07 11:14] shevya06 commented on #71
I'd like to do insertion sort

[2020-10-07 11:15] shevya06 opened #96 "Binary Search"
I'd like to do searching in a rotated sorted array using binary search.

[2020-10-07 11:19] #84 closed

[2020-10-07 11:23] #79 closed

[2020-10-07 11:25] #86 closed

[2020-10-07 11:26] div-bargali commented on #96
@shevya06 Mention the language you'll use.

[2020-10-07 11:28] Krishna-Sivakumar commented on #71
I can do the merge sort.

[2020-10-07 11:28] shevya06 commented on #96
java

[2020-10-07 11:30] Krishna-Sivakumar opened #98 "Red-Black Search Trees (Python)"
I'd like to implement red-black trees in python for this collection.
Any suggestions? @div-bargali

[2020-10-07 11:35] div-bargali commented on #96
Assigned to @shevya06 . Make sure your implementaion is under `Java/Algorithms/Searching/BinarySearch`

[2020-10-07 11:36] jai2dev commented on #78
@div-bargali update ?

[2020-10-07 11:51] sjatin-cse opened #100 "Queue usings Stacks"
I want to add implementation of queue using 2 stacks in C.

[2020-10-07 11:51] sayan2044 commented on #42
I have added radix sort using python. please check

[2020-10-07 11:54] sayan2044 commented on #100
I want to add implementation of queue using stack in C.

[2020-10-07 11:57] SusnatoPrime007 commented on #96
I'd like to do the basic binary search program in C.

[2020-10-07 12:06] div-bargali commented on #100
Assigned to @sjatin-cse based on issue creation.

[2020-10-07 12:08] div-bargali commented on #96
@SusnatoPrime007 Open a new issue please.

[2020-10-07 12:08] sayan2044 commented on #71
i will do the radix sort

[2020-10-07 12:10] BhargaviChada commented on #100
Can I take this in Java?

[2020-10-07 12:11] sayan2044 commented on #100
can i do the same in python?

[2020-10-07 12:13] div-bargali commented on #100
@BhargaviChada @sayan2044  Of course, make sure it's not already implemented and open a new issue. 👍

[2020-10-07 12:15] div-bargali commented on #78
@jai2dev I'll let you guys know by tomorrow. 🕥

[2020-10-07 12:20] sayan2044 commented on #71
radix sort done

[2020-10-07 12:25] suprimnakarmi opened #103 "Iterative and exponential search using Python"

[2020-10-07 12:27] suprimnakarmi commented on #103
Can I do it @div-bargali ?

[2020-10-07 12:32] deveshteotia12 commented on #60
Can can add the BST implementation in CPP?

[2020-10-07 12:32] SusnatoPrime007 commented on #71
I'd like to do the heap sort.

[2020-10-07 12:33] jai2dev opened #105 "Common Examples of Greedy Algorithms | Python"
## **`Greedy Algorithms`** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

[2020-10-07 13:59] jai2dev commented on #103
hey @suprimnakarmi don't forget to add it in searching_algorithms folder

[2020-10-07 14:15] #60 closed

[2020-10-07 14:39] SusnatoPrime007 commented on #96
I'd like to do the binary search tree in Java.Please assign me to this.

[2020-10-07 15:39] SusnatoPrime007 opened #108 "Fibonacci Series using Java"
I would like to do the fibonacci series in Java.Please assign me to this.

[2020-10-07 15:43] Anjalikamath commented on #1
Can I add
1. Heapsort Implementation using C++
2. Binary Search on rotated array in C++
3. 3sum implementation in C++
4. Construct Binary Tree from inorder and preorder traversal in C++
5. Subset sum problem using DP

[2020-10-07 15:49] Anjalikamath commented on #1
Hi @div-bargali
Can I add :
1. Heapsort Implementation using C++
2. Binary Search on rotated array in C++
3. 3sum implementation in C++
4. Construct Binary Tree from inorder and preorder traversal in C++
5. Subset sum problem using DP

[2020-10-07 15:56] suprimnakarmi commented on #103
Done and added files in the searching_algorithms folder :) #109

[2020-10-07 16:43] #103 closed

[2020-10-07 16:51] div-bargali commented on #1
@Anjalikamath Sure. Open a new issue. If you will be making separate PRs make separate issues to track them.

[2020-10-07 16:56] Rsr0 commented on #78
Yeah sure

[2020-10-07 16:58] #100 closed

[2020-10-07 17:05] Anjalikamath opened #112 "Binary Search on Rotated Array | C++"
## **Binary Search on Rotated Array**

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-10-07 17:07] Anjalikamath opened #113 "3 sum | C++"
## **3 sum implementation** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

[2020-10-07 17:10] div-bargali commented on #112
Mention issue number in the PRs.

[2020-10-07 17:10] Anjalikamath opened #114 "Subset Sum (DP) | C++"
## **`Subset sum implementation`** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

[2020-10-07 17:13] Anjalikamath commented on #1
@div-bargali  Heapsort in C++ is already implemented. Can I instead add : Morris Traversal Inorder and Preorder ?

[2020-10-07 17:13] ShahrozTanveer commented on #78
Yes!

[2020-10-07 17:15] Anjalikamath opened #115 "Binary Tree from Inorder and Preorder Traversals | C++"
## **`Binary Tree construction from Inorder and Preorder Traversals`** -

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

[2020-10-07 17:20] Rsr0 commented on #114
hii @div-bargali  can u assign it to me?

[2020-10-07 17:35] mrunalvilas commented on #115
hey can i work on this issue

[2020-10-07 17:52] div-bargali commented on #114
Assigned to @Anjalikamath based on issue creation.

[2020-10-07 17:54] div-bargali commented on #115
@mrunalvilas I am sorry, I would have to assign it to @Anjalikamath based on issue creation, unless she's okay with you contributing to this issue.

[2020-10-07 17:54] Rsr0 commented on #114
ok sir.

[2020-10-07 18:16] shevya06 opened #118 "Quick Sort | Java"
## **`Title`** - Quick Sort

**what will change** - adding code for java implementation of quick sort

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

-
- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Cl

[2020-10-07 18:18] shevya06 commented on #118
I would like to contribute this

[2020-10-07 19:01] ram2939 commented on #108
Solved #123

[2020-10-07 19:10] Anjalikamath opened #125 "Morris Traversal for Preorder Traversal of Binary Tree | C++"
## **`Morris Traversal for Preorder Traversal of Binary Tree using C++`** -

### Type of Issue -

- [x] Adding New Code

### Programming Language
- [x] C++

[2020-10-07 19:11] Anjalikamath opened #126 "Morris Traversal for Inorder Traversal of Binary Tree | C++"
## **`Morris Traversal for Inorder Traversal of Binary Tree using C++`** -

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

[2020-10-07 19:14] mrunalvilas commented on #115
@Anjalikamath I really didn't know about this, the one who creates issue, PR is allowed to made by that person only, will u be fine if My PR is considered?

[2020-10-07 19:26] abhimanyu-bitsgoa commented on #118
Hi @shevya06! Can I contribute to this?

[2020-10-07 19:36] lucy-ctrl commented on #118
Hi, can I contribute to this? :) Thanks.

[2020-10-07 20:25] Anjalikamath commented on #115
@mrunalvilas I don't mind :)

[2020-10-07 20:40] johan7004 commented on #108
i would also like to work in this
can you assign me on this  please ?

[2020-10-08 01:40] PODU commented on #108
Has this been fixed?
If not I would like to work on this.

[2020-10-08 01:56] Cuncis commented on #118
Can I contribute to this?

[2020-10-08 03:05] SusnatoPrime007 commented on #108
I am submitting my pr and makin a folder in java regarding my fibonacci program,please accept it

[2020-10-08 03:33] prajjwal-24 opened #129 "Swap nodes in a linked list without swapping data | C"
Swap nodes in a linked list without swapping data
in C

Basic problem of linked list, should be added for better understanding

### Type of Issue -
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C

Please assign this to me

[2020-10-08 04:26] div-bargali commented on #115
Assined to @mrunalvilas

[2020-10-08 04:27] #115 closed

[2020-10-08 04:34] #108 closed

[2020-10-08 04:39] SusnatoPrime007 commented on #41
Is this issue still opened?If yes,can you assign me to do this?

[2020-10-08 04:44] div-bargali commented on #118
Assigned to @shevya06 based on issue creation.

[2020-10-08 04:47] div-bargali commented on #126
@Anjalikamath Since issues #125 and #126 address morris traversal, please create a single PR for both issues.

[2020-10-08 04:51] SusnatoPrime007 opened #132 "Lucky Number | Java"
Creating lucky number program in Java

[2020-10-08 04:56] SusnatoPrime007 commented on #132
Please assign me to do this,I made a new issue

[2020-10-08 05:02] SusnatoPrime007 opened #133 "Quick Sort | Java"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] C
- [x] Go
- [x] Other language

### Self Check

- Ask for issue assignment before

[2020-10-08 05:02] SusnatoPrime007 commented on #133
Please allow me to work on this

[2020-10-08 05:03] #132 closed

[2020-10-08 05:03] SusnatoPrime007 opened #134 "Lucky Number | Java"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] C
- [x] Go
- [x] Other language

### Self Check

- Ask for issue assignment before

[2020-10-08 05:03] SusnatoPrime007 commented on #134
I am adding my pr

[2020-10-08 05:03] #112 closed

[2020-10-08 05:03] #114 closed

[2020-10-08 05:05] div-bargali commented on #133
@SusnatoPrime007 Quick sort is already assigned in #118

[2020-10-08 05:05] #133 closed

[2020-10-08 05:05] div-bargali commented on #134
Assigned to @SusnatoPrime007 .

[2020-10-08 05:06] SusnatoPrime007 commented on #133
Okay

On Thu, Oct 8, 2020 at 10:35 AM Divyanshu Bargali <notifications@github.com>
wrote:

[2020-10-08 05:08] SusnatoPrime007 commented on #134
I have submitted two pr requests,one is quick sort which I got to know now that it is already assigned to someone else,another is lucky number which is assigned to me,kindly accept the latter one.

[2020-10-08 05:11] SusnatoPrime007 opened #136 "Doubly Linked List | Java"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] Go
- [x] C
- [x] Other language

### Self Check

- Ask for issue assignment before

[2020-10-08 05:12] SusnatoPrime007 commented on #136
Please assign me to this.

[2020-10-08 05:48] #134 closed

[2020-10-08 05:51] #118 closed

[2020-10-08 05:52] SusnatoPrime007 commented on #136
Shall I make a separate folder for it or can I do it in LinkedList folder?

On Thu, Oct 8, 2020 at 11:16 AM Divyanshu Bargali <notifications@github.com>
wrote:

[2020-10-08 05:53] div-bargali commented on #136
@SusnatoPrime007  It should be in LinkedList folder

[2020-10-08 05:54] SusnatoPrime007 commented on #136
Okay

On Thu, Oct 8, 2020 at 11:24 AM Divyanshu Bargali <notifications@github.com>
wrote:

[2020-10-08 06:04] div-bargali commented on #78
Guys, so if I allow solutions for coding problems, I'd need maintainers for this repo as it would be hectic for me to manage it. So is any one of you interested? 🤔

[2020-10-08 06:11] jai2dev commented on #78
@div-bargali okay i am in.

[2020-10-08 06:13] #136 closed

[2020-10-08 06:21] #125 closed

[2020-10-08 06:21] #126 closed

[2020-10-08 06:22] #88 closed

[2020-10-08 06:36] RajdeepDey010 commented on #78
I ave got some competitive problems. I would love to add those.

[2020-10-08 06:54] RajdeepDey010 commented on #129
I want to add ,how to check for self loops in a linkedlist in C.
plss assign me this!

[2020-10-08 07:23] #129 closed

[2020-10-08 07:25] div-bargali commented on #78
Check README.md. ✉️

[2020-10-08 07:42] div-bargali opened #145 "Maintainers for the Repo."
This repo is getting too big for one guy to maintain.
 If you have worked as a collaborator before or contributed to this repo and are interested to help maintain it. 🤔

Join our [Discord Server](https://discord.gg/2qgQM7b) ✉️

[2020-10-08 08:24] sjatin-cse opened #146 "Linked Lists in C"
I want to add C program for Circular And Doubly Circular Linked List.

[2020-10-08 08:38] div-bargali commented on #146
@sjatin-cse Doubly linked list already implemented.

[2020-10-08 09:39] IshaanSinghal1 opened #149 "Backtracking Algorithm(N-Queen) | Java"
## **`Title`** - N-Queen Backtracking Problem

**what will change** - Add new folder of backtracking in algorithm and code for N-Queen Problem.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [] C++
-

[2020-10-08 09:39] IshaanSinghal1 commented on #149
Assign this task to me!

[2020-10-08 10:58] #146 closed

[2020-10-08 13:58] #105 closed

[2020-10-08 14:01] #149 closed

[2020-10-08 14:12] #113 closed

[2020-10-08 14:57] Vanshikaa00 opened #157 "Heap Sort | Java"
Hi @div-bargali i would like to add implementation for heap sort in java

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

[2020-10-08 15:44] jai2dev opened #159 "Trie Data Structure| Python"
## **`Trie`** -

**what will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

[2020-10-08 15:54] ramaadarshh opened #160 "Tower Of Hanoi - Stack | C & C++"
I would like to add one of the applications of Stack known as Tower of Hanoi in C & C++.
**Type of Issue -**
 Adding New Code
**Programming Language**
 C & C++

[2020-10-08 16:04] jai2dev opened #161 "Sieve of Eratosthenes-Finding Prime Numbers in a range | Python"
## **`Sieve of Eratosthenes`** -

**what will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

[2020-10-08 16:57] RiyaM16 commented on #161
I'd like to contribute. Please assign it to me.
Thanks!

[2020-10-08 17:09] jai2dev commented on #161
hey @div-bargali where i should add this in the algorithm folder; should i make a new floder inside algorithm folder or just add the file inside the algorithm folder

[2020-10-08 17:14] #41 closed

[2020-10-08 17:21] code-netizen commented on #71
i will do topological sort

[2020-10-08 17:25] div-bargali commented on #161
@jai2dev Sieve is based on Maths, so add a new folder by name Mathematical Algorithms.

[2020-10-08 17:28] div-bargali commented on #42
Resolved in #99

[2020-10-08 17:28] #42 closed

[2020-10-08 17:31] div-bargali commented on #71
Resolved in #76 #107 #102 #81 #80 and #75 .
Open new issues for adding more sorting algorithms.

[2020-10-08 17:31] #71 closed

[2020-10-08 17:40] #157 closed

[2020-10-08 17:41] jai2dev commented on #161
okay

[2020-10-08 18:12] Danotsonof opened #172 "Queue, Stack, DoublyLinkedList | C#"
## **`Implementation of Queue, Stack and DoublyLinkedList in C#`**

**what will change**

### Type of Issue

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C#

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docu

[2020-10-08 18:46] saurabh-172 commented on #161
@div-bargali
I'm new to hactoberfest and open source contributions and I wanted to ask that can we contribute to issues which are already assigned to someone like in this case or it will be violation of conditions, confirming to be sure I'm not doing something wrong as it's new for me.

[2020-10-08 20:50] b72u68 opened #176 "AVL Tree | Python"
## **Implementation of AVL Tree in Python** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:Fork it :ha

[2020-10-08 20:56] junkl0rd commented on #160
Hello! Can I be assigned this issue? I can solve this!

[2020-10-08 21:56] kajal-puri commented on #176
Hi, can you assign this to me? I want to work on this issue.

[2020-10-08 21:57] b72u68 commented on #176
Sorry, I'm working on this issue right now

[2020-10-08 22:03] b72u68 opened #178 "Heap | Python"
## **Implementing Heap structure in Python** -

**Add Heap structure to Data Structure folder** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in t

[2020-10-08 22:04] b72u68 commented on #178
Can you assign this issue to me? Thank you

[2020-10-08 23:06] Danotsonof commented on #172
Kindly assign this to me.

[2020-10-09 04:25] prajjwal-24 opened #180 "Prefix to Postfix conversion in stack | C"
## Prefix to Postfix conversion in C using stacks

**Adding prefix to postfix conversion which is basic while studying stack** -

### Type of Issue -

- [x] Adding New Code
- [x] Improving Code

### Programming Language
- [x] C

[2020-10-09 04:26] prajjwal-24 commented on #180
Please assign me this

[2020-10-09 05:35] div-bargali commented on #161
Hi, so answering your question, no it's not a violation of any terms, it's just that generally the person opening the issue get's assigned, but more than 1 person can be assigned the same issue. But since not a lot of algos or data strcutures are implemented yet, I'd suggest you open a new issue on something that's not yet implemented. 😃

[2020-10-09 05:37] div-bargali commented on #172
@Danotsonof Since C# is not yet implemented previously, please make a new folder in root named: `C#/Data-Structures/<DS name>/<ds implementation>`

[2020-10-09 05:40] saurabh-172 commented on #161
thanks for clearing my doubt now that I know how to contribute by opening an issue but I don't know how to open an issue like should I open the issue in my repository or yours or the forked one which I would be forking from yours? can you Please guide so that I don't mess it up?

[2020-10-09 05:45] #160 closed

[2020-10-09 05:46] #161 closed

[2020-10-09 05:47] #176 closed

[2020-10-09 05:50] saurabh-172 commented on #161
so now the issue has closed that means I can't contribute right but at least can you guide me by answering the above question? 😢

[2020-10-09 05:51] #172 closed

[2020-10-09 05:54] #178 closed

[2020-10-09 05:56] b72u68 opened #184 "Counting Sort | Python"
## **Implementation of Counting Sort in Python** -

**Add Counting Sort to Algorithm folder** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the

[2020-10-09 06:13] jayaganeshkumar commented on #184
Can you assign me this?

[2020-10-09 06:33] jai2dev commented on #161
First learn how to contribute in open source, search on google or youtube. It wont take that much time

[2020-10-09 06:42] sanjuli18 opened #189 "Flood-fill algorithms| CPP"
## **`Title`** -Flood fill algorithms

**what will change** - Adding new code

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star i

[2020-10-09 06:42] sanjuli18 commented on #189
I would like to contribute to this.

[2020-10-09 06:45] #159 closed

[2020-10-09 06:47] #180 closed

[2020-10-09 06:48] ramaadarshh opened #190 "Infix to Postfix Expression"
I would like to add Infix to Postfix Expression an application of Stack in C.

[2020-10-09 07:05] #189 closed

[2020-10-09 07:49] PUSHPASINGH00 opened #199 "Breadth_first_search.c"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] C
- [x] Go
- [x] Other language

### Self Check

- Ask for issue assignment before

[2020-10-09 07:50] PUSHPASINGH00 opened #200 "Depth_first_search.c"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] C
- [x] Go
- [x] Other language

### Self Check

- Ask for issue assignment before

[2020-10-09 08:07] siddhamsj opened #202 "Arrays| c++"
## **`To place positive element at even and negative at odd position in an array.`** -

**Problem solving** -

### Type of issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language:

Please add/delete options that are not relevant.

- [x] C++

please assogn this tome.

[2020-10-09 08:12] #199 closed

[2020-10-09 08:13] Satyajeet-code opened #203 "Naive Bayes | Python"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] C
- [x] Go
- [x] Other language

### Self Check

- Ask for issue assignment before

[2020-10-09 08:14] behrad-ahmadpour commented on #200
Hi!

can i send my BFS & DFS code (using C )  for this issue?

thanks!

[2020-10-09 08:15] #200 closed

[2020-10-09 08:15] jai2dev commented on #200
already added

[2020-10-09 08:20] jai2dev commented on #203
assigned, dont forget to add it in the respective folder

[2020-10-09 08:32] behrad-ahmadpour commented on #200
could you merge my code to?

[2020-10-09 09:00] sjatin-cse opened #204 "Binary Search in C Algorithm"
I want add a C program for Bnary Search Algorithm in sorted Array.

[2020-10-09 09:05] OMEGAeNcore commented on #202
Please assign me this.

[2020-10-09 09:34] #203 closed

[2020-10-09 10:30] kirito-udit opened #206 "0-1 Knapsack Problem.cpp #196"
## **`Title`** - 0-1 Knapsack Problem.cpp

**what will change** -
Specifying whether the knapsack is 0-1 or fractional

### Type of Issue -
Please add/delete options that are not relevant.

- [x] Improving Documentation

### Programming Language
Please add/delete options that are not relevant.

- [x] C++
### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the

[2020-10-09 10:58] Nitishg1223 opened #208 "Segment tree implementation for highest subsequence sum in range [l,r] | c++"
## **`segment tree impementation for highest subsequence sum in range [l,r]`** -

**** -

### this will  give the highest subsequence sum in range [l,r] using segment tree and implementation of segment tree -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issu

[2020-10-09 11:08] Nitishg1223 opened #209 "graph using Adjacency List| C++"
## **`Implementation of graph using  adjacency list `** -

**it will add a program showing implementation of graph using adjacency list** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add y

[2020-10-09 11:08] cp1307 opened #210 "Implementation of disjoint set (C++)"
Implementation of disjoint set (C++)

**what will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

Happy Coding,

[2020-10-09 11:18] cp1307 opened #211 "Euler's totient Function"
Euler's totient Function

**what will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the

[2020-10-09 11:20] cp1307 opened #212 "Sieve of eratosthenes"
Sieve of eratosthenes

**what will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

Happy Coding,

[2020-10-09 11:32] Arka2001 commented on #204
I want to add a C++ program for binary search algorithm in an unsorted array. The array will be sorted during the program and then I will conduct the Binary Search. So, may I work on this issue?

[2020-10-09 11:51] jai2dev commented on #212
remember to make a folder mathematical algorithms under algorithms and then put that inside it

[2020-10-09 11:55] #206 closed

[2020-10-09 12:37] div-bargali commented on #211
@cp1307 Create a new folder in `C++/Algorithms` and name it `Mathematical Algoritms` and add your files there.

[2020-10-09 12:40] div-bargali commented on #95
Up for grab! 🎫

[2020-10-09 12:41] #190 closed

[2020-10-09 12:47] SusnatoPrime007 commented on #95
Please assign me,I got confused between so many issues, I'd like to contribute in this

[2020-10-09 12:49] #204 closed

[2020-10-09 14:00] div-bargali commented on #95
@SusnatoPrime007 Assigned.

[2020-10-09 14:04] Mohinig opened #226 "Stack | C++"
## **`Stack`** -

**Stack implementation using array** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:For

[2020-10-09 14:06] Mohinig opened #227 "Queue |C++"
## **`Queue`** -

**Implementation Using Array** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper f

[2020-10-09 14:34] b72u68 opened #230 "Circular Queue | Python"
## **Implementation of Circular Queue in Python** -

**Add CircQueue to Python/Data Structure** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
-

[2020-10-09 14:58] #226 closed

[2020-10-09 14:58] #227 closed

[2020-10-09 15:00] karthick191999 commented on #210
can u assign this to me @jai2dev  @div-bargali  ?

[2020-10-09 15:03] jai2dev commented on #210
@karthick191999 it is already assigned to someone else.. so come up with something else

[2020-10-09 15:03] karthick191999 commented on #210
as in i dont understand ?

[2020-10-09 15:14] div-bargali opened #231 "[NOTE] Changes in the repo structure."
- New directories have been added inside `Algorithms` folder of each programming language. From now on please mention the Algorithms Paradigm name in your issue like `Greedy` or `Pattern-Searching` etc.

**Note -** **Sync your forks with the main branch using `git pull upstream main https://github.com/div-bargali/Data-Structures-and-Algorithms.git `**

[2020-10-09 15:15] #231 closed

[2020-10-09 15:21] #184 closed

[2020-10-09 15:49] suramrit opened #232 "Djikstras using a MinHeap with O(1) put() and O(log(n)) decrement() | golang"
## **`Topic`** - Implementation of Djikstras Algo for Min Cost Path

**what will change** - Djikstras Algo for Min Cost Path to be added to graph algorithms for golang

### Type of Issue -

- [x] Adding New Code

### Programming Language
- [x] Go

I have an implementation ready for a PR, can you please assign this issue to me

[2020-10-09 16:01] jai2dev commented on #232
@suramrit make a new folder for this lang and add it accordingly

[2020-10-09 16:52] #232 closed

[2020-10-09 16:54] #230 closed

[2020-10-09 17:04] Satyajeet-code commented on #145
Great✌️✌️

[2020-10-09 17:04] Satyajeet-code commented on #145
Great✌️✌️

[2020-10-09 17:36] Gaurisha21 opened #236 "Operations on Array | C"
## **`Operations on Array`** -

**what will change** - The  code will perform Operations like Traversing, Insertion, Sort, Search and Deletion

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add

[2020-10-09 18:08] Gaurisha21 commented on #236
Please assign this issue to me.

[2020-10-09 19:18] SharmilaSrinivasa opened #237 "Priority queue | c++"
## **`Priority queue in c++`** -

**what will change** -
Priority queue

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_

[2020-10-09 19:27] jai2dev commented on #237
Change the issue name to priority queue with the respecting lang

[2020-10-09 19:39] SharmilaSrinivasa commented on #237
I changed it.

[2020-10-09 19:41] jai2dev commented on #237
aare the title of the issue

[2020-10-09 19:44] jai2dev commented on #237
i have assigned it to you, go for it, just put it in right folder

[2020-10-09 19:45] SharmilaSrinivasa commented on #237
So, now I just need to fork, make change then pull.Am I right?

[2020-10-09 19:46] jai2dev commented on #237
are you new to open source ?

[2020-10-09 19:47] jai2dev commented on #237
yeah

[2020-10-09 22:49] 0ne0rZer0 commented on #212
Hey I would like to work on this issue, Can you assign it to me?

[2020-10-09 23:02] huyhoang8398 opened #239 "Trie Data Structure | Go"
## **`Trie Data Structure`** -

**Trie Data Structure** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [ ] C
- [x] Go
- [ ] Other language

### Self Check

- Ask for issue a

[2020-10-09 23:03] huyhoang8398 commented on #239
I will work on this

[2020-10-10 04:03] NandiniMundra-8 commented on #237
hey I am nandini,can you assign this task to me and can I perform this using C language ?
Thank you.

[2020-10-10 04:10] NandiniMundra-8 commented on #236
Can you assign this to me and and Can I use c++ language to perform this task ?
thank you.

[2020-10-10 04:11] div-bargali commented on #236
@NandiniMundra-8 Open a new issue. Make sure it's not already there before opening a new issue.

[2020-10-10 04:12] div-bargali commented on #236
Duplicate issue. Closed. 🛑

[2020-10-10 04:12] #236 closed

[2020-10-10 04:17] #237 closed

[2020-10-10 08:07] p-nath opened #246 "Longest Common Subsequence using DP | Python3"
## **`Longest Common Subsequence`** -
Thinking of adding code to find the Longest Common Subsequence using Dynamic Programming
### Type of Issue -

- [x] Adding New Code

### Programming Language
- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descr

[2020-10-10 08:32] meetpandya4715 commented on #246
I would like to contribute here to solve this issue. Please assign me this issue so that I can proceed to make PR.

[2020-10-10 11:54] Satyajit-Codys commented on #246
I would also like to contribute.

[2020-10-10 18:09] #95 closed

[2020-10-10 18:11] #211 closed

[2020-10-10 18:14] #209 closed

[2020-10-10 19:56] MostDeadDeveloper opened #249 "ShellSort | Python"
## **`Applying the ShellSort Algorithm in Python`** -

**what will change** -
I will be adding a new python file containing the implementation of ShellSort.

### Type of Issue -

- [x] Adding New Code

### Programming Language
- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better reada

[2020-10-10 19:58] MostDeadDeveloper commented on #249
Assign this to me, I will be working on it

[2020-10-11 02:48] NandiniMundra-8 commented on #249
hey @div-bargali ,I would like to perform it, can you assign this to me?
can we use CPP/C language also to perform it ?
thank you .

[2020-10-11 04:40] SaloniK17 commented on #249
hii,can you please assign to me for c?
Thank you

[2020-10-11 04:59] jai2dev commented on #249
open up a new issue regarding this guys

[2020-10-11 05:06] Nitishg1223 opened #253 "Bfs using queue| C++"
## **`Bfs using queue`** -

**what will change** -it will add a program of breadth first searc using queue

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `

[2020-10-11 05:07] Nitishg1223 opened #254 "Dfs using stack | C++"
## **`Title`** -  DFS using stack

**what will change** - It will add a new program of depth first search using stack

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper

[2020-10-11 05:20] ajayjha5899 commented on #212
Code ready on my forked repo. Please assign this issue to me so that I can open a valid PR.

[2020-10-11 09:03] Bhavya-Tripathi commented on #254
I would like to contribute. Can you assign this issue to me?

[2020-10-11 09:54] geekaditi commented on #253
Hi, I would like to take this up. Please assign it to me.

[2020-10-11 12:14] #239 closed

[2020-10-11 12:15] #246 closed

[2020-10-11 12:16] #208 closed

[2020-10-11 12:19] #249 closed

[2020-10-11 12:22] #212 closed

[2020-10-11 12:32] rishika-singh49 commented on #249
I would like to work on this ....
can you please assign to me for c?

[2020-10-11 13:43] nakuljn opened #260 "Wildcard Card Matching using DP | C++"
## **`Title`** Wildcard Matching using DP

**what will change** - It will add a new program of wildcard matching using dynamic programming

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add yo

[2020-10-11 13:52] #260 closed

[2020-10-11 14:14] Harshalszz opened #262 "Binary Search Tree | C"
## **`Binary Search Tree`** -

**what will change** - I will add a file in C for binary search tree implementation. Including all traversals like inorder, preorder and postorder.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are

[2020-10-11 14:44] ankitsri98 commented on #262
Sir Please Assign Me This Doubt.
thank you.

[2020-10-11 15:19] logeshb opened #264 "Max Profit with k transactions (DP) | C++"
## **`Max Profit with k transactions (DP)`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-11 15:19] logeshb commented on #264
I like to work on this issue

[2020-10-11 15:22] loge1998 commented on #264
I will raise PR in this account. I mistakenly logged in from other account. Extremely sorry for this

[2020-10-11 16:49] ByteCode-Test commented on #264
please assign this to me i can solve this as soon as possible
thank you

[2020-10-12 08:21] cp1307 opened #265 "Program for nth Catalan Number | c++"
## **`Title`** - Program for nth Catalan Number

The code to find the nth catalan number

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `D

[2020-10-12 11:40] #210 closed

[2020-10-12 11:44] #264 closed

[2020-10-12 11:45] #262 closed

[2020-10-12 11:47] div-bargali commented on #202
This issue is open.

[2020-10-12 11:51] OMEGAeNcore commented on #202
I would like to be assigned

[2020-10-12 14:59] KoushikSahu commented on #265
I want to work on this issue. Please assign it to me.

[2020-10-12 19:19] stuti-ui commented on #202
@div-bargali can you assign this to me.

[2020-10-13 06:32] div-bargali commented on #202
Assigned to @OMEGAeNcore

[2020-10-13 06:33] #265 closed

[2020-10-13 06:36] #254 closed

[2020-10-13 06:41] siddhamsj opened #271 "Topological Sorting | C++"
## **`Topological Sorting** -

**Adding a new code** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-10-13 07:25] siddhamsj opened #273 "Reverse a stack using recursion | cpp"
## **`Reverse a stack using recursion`** -

**Adding a new code** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for bet

[2020-10-13 07:29] siddhamsj opened #274 "Deleting a node in link list| C++"
## **`Deleting a node** -

**Adding a new code** -
**Improvising the code**

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improvising the code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clea

[2020-10-13 08:19] #271 closed

[2020-10-13 09:55] div-bargali commented on #274
- [ ] Add more details regarding the issue.

[2020-10-13 09:58] #202 closed

[2020-10-13 09:59] #273 closed

[2020-10-13 10:10] div-bargali opened #278 "KMP Algorithm | Pattern-Searching | Python"
## **`KMP Algorithm | Pattern-Searching | Python`** -

**what will change** -
Implementation of KMP algorithm.
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper fold

[2020-10-13 10:10] div-bargali commented on #278
Anyone who would like to work on it?

[2020-10-13 10:57] astha01 commented on #278
I would love to contribute!

[2020-10-13 11:24] jai2dev commented on #278
Alright comrade, you are assigned

[2020-10-13 11:57] kvv1618 opened #281 "Algorithm or Data Structure name | Language"
## **`Title`** - New algorithms belonging to greedy and mathematical concepts

**what will change** -  Addition of new code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the

[2020-10-13 15:15] siddhamsj opened #285 "Queue using stacks | C++"
## **`Queue using stacks`** -

**Problem solving** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` f

[2020-10-13 15:25] siddhamsj commented on #274
Changed the topic to deleting a node in linklist.

[2020-10-13 16:28] sid-1207 commented on #274
I would like to solve it in C++(C)
Please assign it to me

[2020-10-13 17:48] therupdeep commented on #285
@siddhamsj i would like to work on this!

[2020-10-13 22:24] DebarshiChanda commented on #285
@siddhamsj I would like to implement this!

[2020-10-14 04:32] div-bargali commented on #281
@dhairya-parikh Sure, open a new issue.

[2020-10-14 04:33] #281 closed

[2020-10-14 05:52] ramaadarshh opened #288 "Infix to Prefix Conversion Stack | C"
I would like to add Infix to Prefix Conversion using Stack in C.

[2020-10-14 13:12] rishika-singh49 commented on #274
can i do it in c ?

[2020-10-14 14:57] bhavya092 commented on #288
I would like to contribute to this issue in C++....can you assign this to me?

[2020-10-14 15:23] karthick191999 commented on #288
Can u assign this to me i can contribute to this in C @ramaadarshh @div-bargali

[2020-10-14 16:29] jai2dev commented on #285
open a new issue dude

[2020-10-14 19:00] sarthak-21 opened #290 "Insertion and Quick sort | C"
## **`Insertion and Quick sort`** -

**what will change** -

### Type of Issue -

- [x] Adding New Code
- [x] Adding a _Readme.md_

### Programming Language

Please add/delete options that are not relevant.

- [x] C
- [ ] Other language

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabil

[2020-10-14 19:03] sarthak-21 commented on #290
@div-bargali I would like to do it in C. Assign this to me.

[2020-10-15 03:12] Suraj1199 commented on #290
@div-bargali I would request you to assign the issue to me for other languages. (Python or C++)

[2020-10-15 04:57] DrashtiKoladiya commented on #290
@div-bargali I would like to do it in C++, python, and C. I request you to assign this issue to me.

[2020-10-15 06:16] Aayush-Bhatt commented on #290
I am working on this and will submit PR in a while.

[2020-10-15 08:31] div-bargali commented on #290
@Suraj1199 @DrashtiKoladiya Open new issues.

[2020-10-15 08:33] #253 closed

[2020-10-15 08:34] #285 closed

[2020-10-15 08:35] #274 closed

[2020-10-15 08:43] Suraj1199 commented on #290
@div-bargali didn’t get you

[2020-10-15 08:48] yogita10 opened #295 "Algorithm or Data Structure name | Language"
## **`Title`** -

**what will change** -  A new problem on Backtarcking named FloodFill

### Type of Issue - Java Backtracking

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language - Java

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper fol

[2020-10-15 08:49] yogita10 opened #296 "Algorithm or Data Structure name | Language"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] C
- [x] Go
- [x] Other language

### Self Check

- Ask for issue assignment before

[2020-10-15 08:49] #296 closed

[2020-10-15 12:35] durgeshahire07 opened #297 "Graph and its representation | Python"
## **`Graph and its representation`** -

**A new program on Graph data structure in Python** -

### Type of Issue - #296

Please add/delete options that are not relevant.

- [✓] Adding New Code

### Python

Please add/delete options that are not relevant.

- [✓] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `D

[2020-10-15 12:36] durgeshahire07 commented on #296
can i work on this?

[2020-10-15 12:40] durgeshahire07 commented on #295
can i work on Graph data structure in python?

[2020-10-15 15:02] ErR0rpj opened #300 "Topological Sort (Graphs) | C++"
## **`Topological Sort`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability

[2020-10-15 16:20] natzoz opened #301 "Convert Hex | Java"
## **`Hex to ASCII Conversion`** -

**what will change** -

I will create an algorithm to convert hex to ascii characters. I'm currently studying cybersecurity and this is very useful in decryption.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

-

[2020-10-15 16:20] natzoz commented on #301
Hello, I would like to be assigned to this issue

[2020-10-15 16:57] DrashtiKoladiya commented on #300
Can you assign me this issue?

[2020-10-16 03:06] CosmicGirl42 opened #304 "Insertion Sort | C"
## **`Insertion Sort`** -

**what will change** - Create a file with an implementation of insertion sort in C.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [x] C
- [ ] Go
-

[2020-10-16 03:06] CosmicGirl42 commented on #304
Can I be assigned to this issue?

[2020-10-16 05:26] maddysan0407 commented on #304
@div-bargali is your project open for further improvements/changes ,can I contribute towards your project?

[2020-10-16 06:36] vikramadityasinghs commented on #304
Can I be assigned to this issue?

[2020-10-16 06:38] vikramadityasinghs commented on #304
@div-bargali @CosmicGirl42 I want to contribute to this project? can this be assigned to me?

[2020-10-16 06:40] #295 closed

[2020-10-16 06:43] sharathkumar106 commented on #304
I am willing to contribute to this issue. I kindly request you to assign me for this. 😄

[2020-10-16 06:44] #288 closed

[2020-10-16 06:50] #290 closed

[2020-10-16 06:50] atish-90 commented on #78
can i add some important competitive questions along with their solutions of different data structure like kadane's algorithm,etc?

[2020-10-16 06:50] #301 closed

[2020-10-16 06:51] atish-90 commented on #78
i would like to work upon this issue

[2020-10-16 06:54] rishikumar-p commented on #304
Hey @div-bargali  I want to contribute to this. could you assign this to me?

[2020-10-16 07:08] atish-90 opened #310 "Kadane's Algorithm| C++"
## **`Kadane's Algorithm`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabilit

[2020-10-16 07:08] atish-90 commented on #310
Can you assign me this issue?

[2020-10-16 07:40] varanasiroshan2001 opened #313 "Input_restricted_queue"
## **`Input_restricted_queue`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabil

[2020-10-16 07:40] sonu7089 opened #314 "Trie | Java"
## **`Trie Data Structure `** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language
Please add/delete options that are not relevant.

- [x] Java

### Self Check
- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `De

[2020-10-16 07:41] varanasiroshan2001 commented on #313
please assign me this issue

[2020-10-16 07:56] Kartik1745 commented on #310
Can I be assigned to work on this issue?

[2020-10-16 08:05] harshitalashkari commented on #304
Can I work on this ?

[2020-10-16 08:13] sonu7089 opened #317 "Disjoint Union Set | Java"
## **`Disjoint Union Set`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabilit

[2020-10-16 08:14] sharathkumar106 opened #318 "Prim's Algorithm | Java"
## **`Prim's Algorithm`** -

**A new file to be added demonstrating the Prim's Algorithm** -

### Type of Issue -

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java
- [ ] C
- [ ] Go
- [ ] Other language

### Self Check

- Ask for issue assignment befor

[2020-10-16 08:23] sidrakshe28 opened #321 "Heap (Kth Largest Element in a Stream )| C++"
## **`Title`** -  Kth Largest Element in a Stream

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] C
- [ ] Go
- [ ] Other language

### Self Check

-

[2020-10-16 08:24] sidrakshe28 commented on #321
Please assign me this issue. Would like to try this problem.

[2020-10-16 08:42] anmolrk opened #322 "Important shortcuts in Competitive Programming"
If we create the shortcut as documentation helps a lot

eg:
// to simplify: if (a) ans = b; else ans = c;
ans = a ? b : c;

// to simplify: ans = ans + val;
ans += val;

[2020-10-16 08:55] PrasanthChettri opened #325 "Algorithm or Data Structure name | Language"
## **`0-1 Knapsack`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Ad

[2020-10-16 08:55] PrasanthChettri commented on #325
Can I be assigned this issue?

[2020-10-16 09:00] #325 closed

[2020-10-16 09:01] PrasanthChettri opened #326 "0-1 Knapsack in python"
## **`0-1 Knapsack`** -

**what will change** -
0-1 Knapsack Algorithm will be added which is a famous dynamic programming algorithm.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your

[2020-10-16 09:01] PrasanthChettri commented on #326
Can I be assigned to this issue ?

[2020-10-16 09:09] atish-90 opened #328 "Arrays | C++"
## **`Cyclically rotate an array by one element`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-10-16 09:09] atish-90 commented on #328
Please assign this issue to me

[2020-10-16 09:11] atish-90 opened #329 "Arrays | C++"
## **`Move all the negative elements of arrays to the left`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Do

[2020-10-16 09:12] atish-90 commented on #329
Please assign this issue to me

[2020-10-16 09:13] PrasanthChettri opened #330 "Linear Regression|python"
## **`Linear Regression`** -

**what will change** -
Add Linear Regression algorithm which is a machine learning algorithm
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the

[2020-10-16 09:13] PrasanthChettri commented on #330
Can I be assigned this issue ?

[2020-10-16 09:15] atish-90 opened #331 "Floyd's Cycle-Finding Algorithm | C++"
## **`Detect a loop in LinkedList`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better r

[2020-10-16 09:15] atish-90 commented on #331
Please assign this issue to me

[2020-10-16 09:47] sabrajsab commented on #331
Please assign this issue to me

[2020-10-16 09:53] aritra-sarkar99 commented on #331
@atish-90  I would be glad to contribute, could you assign this issue to me ?

[2020-10-16 09:57] sabrajsab commented on #329
Please assign this issue to me

[2020-10-16 10:01] sabrajsab commented on #321
i have done similar problem already. please assign this to me

[2020-10-16 10:02] sabrajsab commented on #318
please assign this to me

[2020-10-16 11:05] ahmeddrawy commented on #331
If still available or need code review please let me know

[2020-10-16 11:28] durgeshahire07 commented on #297
hello @div-bargali ,
i went through the repository and found that graph is being already added in python.
so, can i add graph concept in java ?

[2020-10-16 11:38] rathovarun commented on #317
@sonu7089 Can you assign this issue to me? thanks!

[2020-10-16 11:46] ahmeddrawy commented on #317
I can implement  count number of connected components using DSU implemented by @sonu7089  and can extend the class to help solving various DSU problems

[2020-10-16 12:08] SudhanshuBlaze commented on #304
Please assign it to me.

[2020-10-16 12:24] Blackwatch1910 opened #338 "Algorithm or Data Structure name | Language"
## **`Huffman Encoding`** -

**A new Greedy algo** -

### Missing Algorithms -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Java

Please add/delete options that are not relevant.

- [x] Java

### Self Check

:star2: Star it :fork_and_knife:Fork it :handshake: Contribute to it!

Happy Coding,

[2020-10-16 12:35] shreyrai99 opened #339 "Egg Dropping Problem (Dynamic Programming) | C++"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- Clean Code` and `Documentation` for better readability
- Add `Title`

[2020-10-16 12:36] shreyrai99 commented on #339
Please assign this issue to me

[2020-10-16 12:41] Sindhu-321 commented on #329
Can i get this assigned? Thanks.

[2020-10-16 12:42] Sindhu-321 commented on #328
can i get this assigned? Thanks.

[2020-10-16 13:01] bhavinisehgal18 commented on #304
please assign this to me

[2020-10-16 13:14] HeisenBug-07 opened #341 "backtracking algorithm for sudoko in c++"
## **`Title`** - Backtracking algorithm

### Type of Issue - adding new file.

- [x] Adding New Code

### Programming Language
- [x] C++

[2020-10-16 13:47] #322 closed

[2020-10-16 13:47] Pysche666 commented on #329
Please assign this issue to me. Thanks!

[2020-10-16 13:52] Pysche666 opened #344 "Algorithm or Data Structure name | C++"
## **`Adding Data Structure type`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better re

[2020-10-16 13:53] #304 closed

[2020-10-16 13:56] #313 closed

[2020-10-16 14:01] #314 closed

[2020-10-16 14:01] #317 closed

[2020-10-16 14:02] #310 closed

[2020-10-16 14:03] #321 closed

[2020-10-16 14:08] #300 closed

[2020-10-16 14:12] #328 closed

[2020-10-16 14:15] #318 closed

[2020-10-16 14:17] div-bargali commented on #344
@Pysche666 Add more details and specifics on what you want to implement/contribute to!

[2020-10-16 14:19] #344 closed

[2020-10-16 14:24] Pysche666 opened #351 "Lower and Upper Decomposition of Matrix| Python"
## **`Lower and Upper Decomposition of Matrix`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentatio

[2020-10-16 14:31] Pysche666 commented on #351
Please assign this issue to me. Thanks!

[2020-10-16 14:59] Bhavartha opened #354 "Backtracking | Python"
## **`N-Queens Problem`** -

**Repo will contain solution of N-Queens problem by backtracking method(python)** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of t

[2020-10-16 15:00] Bhavartha commented on #354
Please assign this issue to me. Thanks!

[2020-10-16 15:02] Pysche666 opened #355 "Ordered Linked List of Strings | C++"
## **`Ordered Linked List of Strings`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for bette

[2020-10-16 15:03] Pysche666 commented on #355
Please assign this issue to me. Thanks!

[2020-10-16 15:07] Pysche666 opened #356 "Implementation of Doubly Linked List | C++"
## **`Implementation of Doubly Linked Lis`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for

[2020-10-16 15:07] Pysche666 commented on #356
Please assign this issue to me.

[2020-10-16 15:13] Pysche666 opened #357 "Joynernacci Sequence | Python"
## **`Finding nth term in joynernacci sequence`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentati

[2020-10-16 15:13] Pysche666 commented on #357
Please assign this issue to me. Thanks!

[2020-10-16 15:21] atish-90 opened #359 "Rabin-Karp Algorithm | C++"
## **`Print all the occurrences of a text in a string `** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docume

[2020-10-16 15:21] atish-90 commented on #359
Please assign this issue to me

[2020-10-16 15:23] tharani247 opened #360 "Breadth First Search and Depth First Search | C++"
**Breadth First Search and Depth First Search**-

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

 - [] Python
 - [x]  C++
- [] Java
- [] C
- [] Go
- [] Other language

### Self Check

- Ask f

[2020-10-16 15:34] ap-darknight commented on #297
Going to add graph concepts based on DFS and BFS, should I?
Thanks in advance!!

[2020-10-16 16:27] #338 closed

[2020-10-16 16:28] #329 closed

[2020-10-16 16:32] keshavga1209 commented on #360
I would like to add this code in C++. Kindly assign it to me.
Thank you!

[2020-10-16 16:41] joharikushagra opened #361 "Tower of Hanoi Problem (Recursion) | C++"
## **`printing total steps required to transfer n discs from source to destination tower** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper

[2020-10-16 16:47] joharikushagra commented on #361
I would like to work on this @div-bargali

[2020-10-16 16:47] SynneK1337 commented on #341
I would like to work on that one.

[2020-10-16 16:58] Riyana6 commented on #361
I like to work on this

[2020-10-16 16:59] Riyana6 commented on #360
Please assign me to this.

[2020-10-16 17:03] UdeshAthukorala opened #363 "Comb Sort | Python"
## **`Title`** - Comb Sort Algorithm

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] C
- [ ] Go
- [ ] Other language

### Self Check

- Ask for issu

[2020-10-16 17:05] rishier827 commented on #96
I'd like to do the binary search tree in python3.Please assign me to this.

[2020-10-16 17:05] tharani247 commented on #360
I opened this issue regarding the missing algorithm, please assign me this

[2020-10-16 17:05] UdeshAthukorala commented on #363
@div-bargali Hey, Can you please assign this issue to me?

[2020-10-16 17:08] imshahnawazdevil commented on #356
could you assign this task to me?

[2020-10-16 17:36] ambuj2000 commented on #361
Can you let me work on this @div-bargali

[2020-10-16 17:38] ambuj2000 commented on #360
Can you assign me this issue

[2020-10-16 17:38] muskanlalit18 opened #365 "Deletion in Circular Linked List | C++"
## **Deleting a Node in Circular Linked List** -

**what will change** -

A new C++ script will be added for deletion of a node in a circular linked list

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Re

[2020-10-16 17:38] muskanlalit18 commented on #365
Please assign this issue to me.

[2020-10-16 17:39] ambuj2000 commented on #356
Please assign me this issue...

[2020-10-16 17:41] ambuj2000 commented on #341
please assign me this issue

[2020-10-16 17:42] ambuj2000 commented on #96
Please assign me this issue

[2020-10-16 17:42] muskanlalit18 opened #367 "0 1 2 Sort Technique | C++"
## **0 1 Sort Technique** -

**what will change** -

A new C++ script will be added for 0 1 Sort Technique

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `

[2020-10-16 17:43] muskanlalit18 commented on #367
Please assign this issue to me.

[2020-10-16 18:01] ambuj2000 commented on #367
please assign me this issue

[2020-10-16 18:02] ambuj2000 commented on #365
Please assign me this issue

[2020-10-16 18:03] adityagread commented on #365
please assign me this issue

[2020-10-16 18:26] ErR0rpj opened #368 "Articulation Points and Bridges in Graph | C++"
## **`Articulation Point and Bridges`** -

**what will change** - Code to find Articulation Point and Bridges in graph

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the prope

[2020-10-16 18:49] dhruvbatra810 opened #370 "tree | java"
## **`tree creation and traversal`** -

**what will change** -
 code for creation of tree  and it's traversal (using implementation of stacks and queue)

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabilit

[2020-10-16 18:50] Error404m commented on #368
hey @ErR0rpj , I wanna work pl.

[2020-10-16 18:50] ambuj2000 commented on #370
Please assign me this issue

[2020-10-16 18:51] Shreya2221 commented on #96
I would like to do binary search in Java .Please assign me to this.

[2020-10-16 18:52] dhruvbatra810 commented on #370
please assign this  to me

[2020-10-16 18:54] asaadxheikh commented on #370
please assign this to me

[2020-10-16 18:58] SnehhaPadmanabhan commented on #96
I would like to do "Finding the index of first/last occurrence of an element in a sorted array" using binary search in C++.

[2020-10-16 18:59] Shreya2221 commented on #365
I would like to delete a node in circular linked list using C++. Please assign this issue to me.

[2020-10-16 19:02] Sashi445 opened #372 "Graph Data Structure(Adjacency List)| C"
## **`Title`** - Adding Graph DataStructure in C

**what will change** -

I will add the implementation of Graph DS (Adjacency List)

### Type of Issue -
New Feature!!

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [

[2020-10-16 19:07] Sashi445 opened #374 "Graph Traversal | C"
## **`Title`** - Adding Breadth First Search and Depth First Search

**what will change** -

Add BFS implementation using C langauge

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Ja

[2020-10-16 19:08] SnehhaPadmanabhan opened #375 "Backtracking | C++"
## **`NQueens Problem using backtracking in C++`** -

**Adding code to implement N Queens problem as a classic back tracking example** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your

[2020-10-16 19:09] SnehhaPadmanabhan commented on #375
Please assign this issue to me

[2020-10-16 19:09] liamm91 commented on #365
Can I contribute?

[2020-10-16 19:10] liamm91 commented on #330
Is it too late to contribute?

[2020-10-16 19:14] Ace117MC commented on #374
can you assign this to me

[2020-10-16 19:16] liamm91 commented on #375
Can you assign this issue to me?

[2020-10-16 19:17] sidrakshe28 commented on #375
Can you assign me this issue. I would like to take this up.

[2020-10-16 19:18] SnehhaPadmanabhan opened #376 "Graph algorithm | C++"
## **`Detecting cycle in a directed graph using DFS`** -

**Adding code for cycle detection in a graph C++** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] C
- [ ] Go
-

[2020-10-16 19:18] SnehhaPadmanabhan commented on #376
Please assign this issue to me. Thanks!

[2020-10-16 19:19] sidrakshe28 commented on #341
Can you assign this issue to me .Would like to work on this problem.

[2020-10-16 19:20] liamm91 commented on #363
Can you assign me this issue? I can do it in either C++ or Python

[2020-10-16 19:22] liamm91 commented on #361
Can you assign me this issue?

[2020-10-16 19:22] liamm91 commented on #355
Can you assign me this issue?

[2020-10-16 19:26] Error404m opened #377 "Array | C++"
## **`Title` Move all zeroes to end of array** -

**what will change** - Adding code for moving all zeroes to end of array

### Type of Issue -

- [x] Adding New Code
-  Improving Code
-  Improving Documentation
-  Bug Fix

### Programming Language

-  Python
- [x] C++
-  Java
-  C
-  Go
-  Other language

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in th

[2020-10-16 19:41] Jeewantha95 commented on #377
Please assign this issue to me. Thanks!

[2020-10-16 19:41] Error404m commented on #377
pls assign me,

[2020-10-16 19:42] techbayindia commented on #374
Assign Me!

[2020-10-16 19:45] Jeewantha95 commented on #377
Oh sorry @Error404m

[2020-10-16 19:47] sbm1arora commented on #78
yes!!

[2020-10-16 20:03] Jeewantha95 commented on #355
Can i contribute?

[2020-10-16 20:42] jmilan1 opened #384 "KMP - Pattern Searching Algorithm | C++"
Adding 4 Pattern Searching Algorithm in CPP

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Ti

[2020-10-16 20:43] jmilan1 commented on #384
please assign this issue to me, I have already made the PRs for them by mistake

[2020-10-17 02:26] pedrousp opened #386 "Linear Search | C"
## Adding Linear Search Algorithm in C

It'll be added, in this case, linear search algorithm in C.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C

### Self Check

- Ask for issue assignment before makin
g Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the

[2020-10-17 02:29] maw1a commented on #386
I can work on this.

[2020-10-17 02:53] SiddhantBobde commented on #386
Can I work on this issue?

[2020-10-17 03:14] dhruvbatra810 commented on #386
can i also work on this issue?

[2020-10-17 03:16] pawki07 commented on #374
Hey, I would like to work on this issue. Please assign it to me.

[2020-10-17 03:16] pawki07 commented on #367
Hey, I would like to work on this issue. Please assign it to me.

[2020-10-17 03:16] pawki07 commented on #363
Hey, I would like to work on this issue. Please assign it to me.

[2020-10-17 03:24] dhruvbatra810 commented on #370
i am done with the code , please assign

[2020-10-17 03:30] vidhya001 commented on #365
Could you please assign this to me

[2020-10-17 03:41] pedrousp commented on #386
Give it to me, please.

[2020-10-17 03:55] pedrousp commented on #386
Please, assign this to me.

[2020-10-17 04:09] #331 closed

[2020-10-17 04:11] #372 closed

[2020-10-17 04:14] #377 closed

[2020-10-17 04:15] nishantkumar1308 commented on #386
please assign this to me

[2020-10-17 04:26] nishantkumar1308 commented on #374
can u assign this to me??please!!!

[2020-10-17 04:34] div-bargali commented on #96
Up for grabs!

[2020-10-17 04:35] Sadakant opened #391 "Adding Segment Tree | Java"
I will add the implementation of segment tree data structure.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_kni

[2020-10-17 04:36] Sadakant commented on #391
Please assign this issue to me

[2020-10-17 04:36] div-bargali commented on #384
@jmilan1 In case that I have closed the PRs please make them again and mention the issue number. It's a must, as there's no other way to tell spam PRs from genuine ones.

[2020-10-17 04:38] PriyaShrinithi opened #392 "Dfs | Java"
## **`Dfs in Java`** -

**what will change** - To add a new Dfs Code in Java

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [x] Java
- [ ] C
- [ ] Go
- [ ] Other language

### Self Check

[2020-10-17 04:40] PriyaShrinithi commented on #392
@div-bargali May I please be assigned this issue?

[2020-10-17 04:40] keshavga1209 opened #394 "Radix Sort | C++"
## **`Title`** - Radix Sort

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] C
- [ ] Go
- [ ] Other language

### Self Check

- Ask for issue assignm

[2020-10-17 04:41] keshavga1209 commented on #394
I am interested in implementing this. Can you please assign it to me?

[2020-10-17 05:07] Rudransh24 opened #399 "Wave Sort | C"
## Wave Sort

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.
- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.
- [x] C

### Self Check
- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code

[2020-10-17 05:07] Rudransh24 commented on #399
Can I be assigned to this issue in C??

[2020-10-17 05:13] Rudransh24 opened #400 "Tower Of Hanoi | C"
## Tower Of Hanoi

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [x] C
- [ ] Go
- [ ] Other language

### Self Check

- Ask for issue assignment before

[2020-10-17 05:13] Rudransh24 commented on #400
Can I be assigned to this issue in C ?

[2020-10-17 05:15] Rudransh24 opened #402 "3-Way QuickSort (Dutch National Flag) | C"
## 3-Way QuickSort (Dutch National Flag)

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [x] C
- [ ] Go
- [ ] Other language

### Self Check

- Ask for

[2020-10-17 05:15] Rudransh24 commented on #402
Can I be assigned to this issue in C ?

[2020-10-17 05:15] jmilan1 opened #403 "Z algorithm - Pattern Searching Algorithm | C++"

[2020-10-17 05:16] #403 closed

[2020-10-17 05:17] Hitesh18082001 commented on #402
could you please assign this issue to me

[2020-10-17 05:17] jmilan1 opened #404 "Zalogrithm - Pattern Searching Algorithm | C++"
## **`Title`** - Zalgorithm - Pattern Searching Algorithm | C++

**what will change** - Adding zalgorithm.cpp

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder

[2020-10-17 05:17] jmilan1 commented on #404
Please assign this to me

[2020-10-17 05:19] Rudransh24 opened #405 "Bitonic Sort | C++"
## Bitonic Sort

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] C
- [ ] Go
- [ ] Other language

### Self Check

- Ask for issue assignment before m

[2020-10-17 05:19] Gaurisha21 opened #406 "Addition of 2x2 Matrix in C"
## **Addition of 2x2 Matrix in C** -

**It will add two 2x2 Matrix in C language** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documen

[2020-10-17 05:19] Rudransh24 commented on #405
Can I be assigned to this issue in C++ ?

[2020-10-17 05:24] jmilan1 opened #407 "Rabinkarp - Pattern Searching Algorithm | C++"
## **`Title`** - Rabinkarp - Pattern Searching Algorithm | C++

**what will change** - Adding Rabin karp Pattern Searching algorithm

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your fil

[2020-10-17 05:24] jmilan1 opened #408 "Boyer Moore - Pattern Searching Algorithm | C++"
## **`Title`** - Boyer Moore - Pattern Searching Algorithm | C++

**what will change** - Adding Boyer Moore's Pattern Searching algorithm

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add you

[2020-10-17 05:24] jmilan1 commented on #408
Please assign this to me

[2020-10-17 05:25] jmilan1 commented on #407
Please assign this to me

[2020-10-17 05:25] arpit7714 opened #409 "Prim’s Minimum Spanning Tree Algorithm | C++"
## **`Title`** - Prim’s Minimum Spanning Tree Algorithm

**what will change** - Adding prim's.cpp

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] C
- [ ] Go
- [ ] Other lan

[2020-10-17 05:25] arpit7714 commented on #409
Please assign this to me

[2020-10-17 05:27] arpit7714 opened #410 "Kruskal’s Minimum Spanning Tree Algorithm | C++"
## **`Title`** - Kruskal’s Minimum Spanning Tree Algorithm

**what will change** - Adding Kruskal.cpp

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] C
- [ ] Go
- [ ] Other

[2020-10-17 05:27] arpit7714 commented on #410
Please assign this to me

[2020-10-17 05:37] atish-90 commented on #407
I already made the issue on this and also created the pull request.

[2020-10-17 05:38] atish-90 commented on #407
check issue #359

[2020-10-17 05:39] atish-90 commented on #407
Also, you can make a pull request for an issue only if you are assigned to it.

[2020-10-17 05:43] Siddharth009 commented on #406
can i be assigned to this?

[2020-10-17 05:49] Gaurisha21 commented on #406
I have raised the issue so that it can be assigned to me.

[2020-10-17 05:50] kakabisht commented on #394
Hi, I can implement this in a couple of hours. Let me know if it is up for grabs.

[2020-10-17 05:51] kakabisht commented on #405
Hi, I can implement this in a couple of hours, let me know if it is up for grabs.

[2020-10-17 05:54] swaingotnochill opened #417 "Graph | Data Strucutres | C++"
Implementation of Graphs

**Adding two new implementation of  Graph** -

### Type of Issue -
There is only one implementation of Graph using Adjacency list. I will add two more implementation which are Graph using Adjancency Matrix and Graph using Edge list.

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

##

[2020-10-17 05:55] kakabisht commented on #386
HI, I could take care of this issue, let me know if it is up for grabs.

[2020-10-17 05:56] swaingotnochill commented on #417
Assign this to me.

[2020-10-17 06:00] adilsp5075 commented on #406
i would like to contribute can u assign me

[2020-10-17 06:01] vidhya001 opened #419 "Implementing Stack using Queues | C++"
## **`Title`** -Implement a Stack using 2 Queues

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Document

[2020-10-17 06:02] vidhya001 commented on #419
please assign this to me

[2020-10-17 06:06] atharvakarnik commented on #400
Hey @div-bargali, I would like to contribute using Python, can you assign this to me?

[2020-10-17 06:09] div-bargali commented on #407
@atish-90 Thanks for pointing it out.

[2020-10-17 06:09] #407 closed

[2020-10-17 06:09] #359 closed

[2020-10-17 06:17] devmrfitz opened #421 "Sort a stack using another temporary stack| C++"
## **`Sort a stack using another temporary stack`** -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `

[2020-10-17 06:17] devmrfitz commented on #421
Please assign this issue to me

[2020-10-17 06:21] #392 closed

[2020-10-17 06:24] #391 closed

[2020-10-17 06:25] #386 closed

[2020-10-17 06:26] #384 closed

[2020-10-17 06:27] #408 closed

[2020-10-17 06:30] #404 closed

[2020-10-17 06:31] devmrfitz opened #424 "Reverse an integer using stack | Python3"
## **`Reverse an integer using stack`** -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python3

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descript

[2020-10-17 06:32] devmrfitz commented on #424
Please assign this to me

[2020-10-17 06:32] Suraj1199 commented on #400
@div-bargali please assign me in C++

[2020-10-17 06:33] #421 closed

[2020-10-17 06:34] #370 closed

[2020-10-17 06:39] #424 closed, assigned to devmrfitz

[2020-10-17 06:39] chiyapathak opened #426 "Matrix Chain Multiplication | Dynamic Programming | C++"
## **`Title`** - Matrix Chain Multiplication

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:Fork it :handsh

[2020-10-17 06:40] chiyapathak commented on #426
I would like to work on it.

[2020-10-17 06:42] Suraj1199 opened #429 "Algorithm/Dynamic Programming 0-1 Knapsack not present | Python"
## **`Add 0-1_Kanapsack.py to ./Python/Algorithms/Dynamic Programming`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] C
- [x] Go
- [x] Other la

[2020-10-17 06:43] Suraj1199 commented on #429
@div-bargali  I didn't know previously , now can I be assigned , before making PR.

[2020-10-17 06:45] devmrfitz opened #430 "Reverse the Words of a String using Stack | C++"
## **`Title`** - Reverse the Words of a String using Stack

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language -

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title

[2020-10-17 06:45] Anurajeev commented on #356
Please assign me to this issue

[2020-10-17 06:48] devmrfitz commented on #430
Please assign this to me

[2020-10-17 06:56] 19isha98 commented on #304
Hey I am interested in doing it could you please assign it to me.

[2020-10-17 07:10] Ms3105 opened #434 "Algorithm or Data Structure name | LanguageData-Structures-and-Algorithms/C++/Algorithms/Backtracking/ Backtracking algorithm not present"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] C
- [x] Go
- [x] Other language

### Self Check

- Ask for issue assignment before

[2020-10-17 07:10] dev-shubham1 commented on #410
Hey everyone,
I am Shubham Ghule.
I would really like to take this issue if not assigned ?

[2020-10-17 07:13] Error404m commented on #434
Hey, Can I work on this please ?

[2020-10-17 07:14] devmrfitz opened #435 "Reverse a stack without using extra space in O(n) | C++"
## **`Title`** - Reverse a stack without using extra space in O(n)

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add

[2020-10-17 07:16] Suraj1199 opened #436 "Algorithms/Divide-and-Conquer - Tower of Hanoi | C++"
## **`Algorithms/Divide-and-Conquer - Tower of Hanoi  | C++`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] C
- [] Go
- [] Other language

### Sel

[2020-10-17 07:17] dev-shubham1 commented on #435
I would really like to take up this issue. Could you please assign it to me ?

[2020-10-17 07:21] VenkatVuddagiri opened #438 "Hacktoberfest Labels are not named correctly"
All the labels with hacktoberfest should actually be "hactoberfest-accepted" and not just "hactoberfest". Please correct them from now on

[2020-10-17 07:30] Pratyushraj2121 commented on #436
Can I do this please?

[2020-10-17 07:33] AtalKhandelwal opened #440 "Linear And Binary Search Algorithm | C#"
## **`Title`** -
Linear And Binary Search Algorithm

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Documentation

### Programming Language

Please add/delete options that are not relevant.

- [x] C#
- [x] Other language

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean

[2020-10-17 07:34] AtalKhandelwal commented on #440
@div-bargali Please assign this isssue to me. I can do it in C#.

[2020-10-17 07:37] Pratyushraj2121 commented on #440
@div-bargali Can you assing this to me? I can do this using C language!

[2020-10-17 07:47] devmrfitz commented on #435
I've already requested this as I've created it

[2020-10-17 07:53] sanchitgupta456 commented on #436
Can i do this ?

[2020-10-17 07:54] sanchitgupta456 commented on #400
Can i be assigned this ?
How do i get assigned ?

[2020-10-17 08:02] Jeewantha95 commented on #440
@div-bargali Please assign this issue to me. I can do it in C#.

[2020-10-17 08:25] ritik-sys opened #445 "Prims Algorithm for Finding Minimum Spanning Tree | C++"
## **`Prims Algorithm`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
-

[2020-10-17 08:27] ritik-sys commented on #445
Can i work on this?

[2020-10-17 08:28] harshulab commented on #406
Can i please be assigned to this issue?

[2020-10-17 08:40] ritik-sys opened #446 "Stack Using Linked List | C++"
## **`Stack Using Linked List`** -

**what will change** -
Adding new code for implementation of stack datastructure by use of Linked List
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add you

[2020-10-17 08:40] ritik-sys commented on #446
Please Assign this to me

[2020-10-17 08:42] gitarthasarma opened #447 "LinkedList | C++"
## **`Reverse two linked lists iteratively and recursively`** -

**what will change** -
Add c++ implementation of how to reverse two linked lists both iteratively and recursively and compare the complexity in both cases
### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before

[2020-10-17 08:42] gitarthasarma commented on #447
Assign it to me

[2020-10-17 08:42] mavneeK commented on #96
i would like to contribute to this

[2020-10-17 08:45] snehaa1989 commented on #447
I would like to code this problem, I would be grateful if you assign it to me!!

[2020-10-17 08:46] snehaa1989 commented on #446
I can code stack data structure using an array as well as linked list, please assign this to me

[2020-10-17 09:02] IndrashisChatterjee commented on #400
Assign me please

[2020-10-17 09:08] LyndonFan opened #451 "Splay Tree | Python"
## **`Title`** -

**what will change** -

The splay tree structure will be added.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docum

[2020-10-17 09:08] LyndonFan commented on #451
Please assign the issue to me, thank you!

[2020-10-17 09:10] neha07kumari commented on #440
Please assign me this issue . I want to go for it using C. @AtalKhandelwal  @div-bargali

[2020-10-17 09:12] neha07kumari commented on #434
Please assign me this . I want to add new problems from data structure- linked list. Can I? @Ms3105  @div-bargali

[2020-10-17 09:16] SnehhaPadmanabhan opened #453 "Kosaraju's Algorithm to find number of strongly connected components | C++"
## **`Kosaraju's algorithm`** -

**Adding code for the algorithm in C++** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] C
- [ ] Go
- [ ] Other language

### Self Check

[2020-10-17 09:16] SnehhaPadmanabhan commented on #453
Please assign this issue to me. Thanks!

[2020-10-17 09:19] amintai commented on #410
@dev-shubham1 @div-bargali    can i work on the same? as i've learned Kruskal's Algorithm.

[2020-10-17 09:24] vidhya001 opened #454 "Construct BST from level Order Traversal| c++"
## **`Title`** -Construct BST from level Order Traversal

**what will change** -a new c++ file will be added that constructs BST from its level Order Traversal

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

- [x] C

### Self Check

- Ask for issue assignment before

[2020-10-17 09:24] vidhya001 commented on #454
please assign this to me

[2020-10-17 09:54] Darsh4521 commented on #436
assign this to me please

[2020-10-17 10:06] molleer opened #455 "Quick Sort | Go"
## **`Title`** - Quick Sort | Go

**what will change** - A new Go file will be added which implement quick sort in Go

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Go

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper

[2020-10-17 10:07] molleer commented on #455
Could I be assigned this issue?

[2020-10-17 10:09] iamrk09 commented on #304
Hey, I want to make a contribution for hacktoberfest. Please assign it to me.

[2020-10-17 10:10] rishab1128 opened #456 "Algorithms/Greedy - Weighted Job Scheduling | C++"
## **`Weighted Job Scheduling using Greedy Approach and Binary Search `** -

**what will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language
- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the

[2020-10-17 10:12] rishab1128 commented on #456
I have already completed the code with proper explanation in the comments, can you assign this issue to me!!!

[2020-10-17 10:23] jmilan1 opened #457 "Manacher's Algorithm | C++"
## **`Title`** - Manacher's Algorithm

**what will change** - Adding Manacher's Algorithm in CPP

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code

[2020-10-17 10:23] jmilan1 commented on #457
Please assign this issue to me

[2020-10-17 10:27] ritik-sys opened #458 "Counting Sort | c++"
## **`Counting Sort`** -

**A file with code of counting sort** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for bette

[2020-10-17 10:28] ritik-sys commented on #458
Please assign this code to me

[2020-10-17 10:28] ritik-sys opened #459 "Check whether a graph is connected or Not | C++"
## **`Title`** -

**Code to check whether given graph is connected or not** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentatio

[2020-10-17 10:28] Muskan33 commented on #458
Please assign this to me

[2020-10-17 10:28] ritik-sys commented on #459
Please assign this to me

[2020-10-17 10:29] YashJain2 commented on #447
I want to contribute on this project under hacktoberfest please assign me in c++.
will work on both single and double linked list to reverse recursively and iteratively.

[2020-10-17 10:30] Muskan33 commented on #459
Please assign this to me.

[2020-10-17 10:33] ritik-sys commented on #456
Please assign this to me

[2020-10-17 10:33] ritik-sys commented on #454
I have a proper code with easy steps (using rescursion) . So can you please assign this to me.

[2020-10-17 10:51] div-bargali commented on #438
@VenkatVuddagiri Well the labels are correct. `hacktoberfest-accepted` label is only for PRs, and if the PR is merged then you don't need the label on your PR, as it will considered a valid PR since it's merged.

[2020-10-17 10:51] shubham14596 commented on #402
Please assign this issue to me for java

[2020-10-17 10:54] #436 closed

[2020-10-17 10:55] div-bargali commented on #434
It's not clear what is the topic you want to implement. Please open a new issue, with some details.

[2020-10-17 10:55] #434 closed

[2020-10-17 10:55] #438 closed

[2020-10-17 10:59] #430 closed

[2020-10-17 11:01] dhruvbatra810 opened #460 "bin or bucket and shell sort |c++"
## **`bin | bucket  and shell sort  `** -

**what will change** -
addition of bin and shell sort

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code

[2020-10-17 11:04] Divyansh833 commented on #304
Hey @CosmicGirl42, I am Searching for my very first Hacktoberfest and this looks very perfect for me.
Could you please assign it to me.
Thanks in advance :) !!

[2020-10-17 11:05] #429 closed

[2020-10-17 11:06] dhruvbatra810 commented on #460
please assign

[2020-10-17 11:07] #368 closed

[2020-10-17 11:10] #361 closed

[2020-10-17 11:12] #419 closed

[2020-10-17 11:13] #394 closed

[2020-10-17 11:21] #360 closed

[2020-10-17 11:23] #456 closed

[2020-10-17 11:24] #457 closed

[2020-10-17 12:02] #447 closed

[2020-10-17 12:29] Ms3105 opened #468 "N queen problem using Backtracking | C programming"
NQueens Problem using backtracking in C language
Adding code to implement N Queens problem as a classic back tracking example -

Type of Issue -
Please add/delete options that are not relevant.

 Adding New Code
Programming Language
Please add/delete options that are not relevant.

 C
Self Check
Ask for issue assignment before making Pull Request.
Add your file in the proper folder
Clean Code and

[2020-10-17 12:29] Ms3105 commented on #468
Please assign me for this

[2020-10-17 12:36] Ms3105 opened #471 "All possible subset problem using backtracking| c++"
All possible subset Problem using backtracking in C++ -
Adding code to implement N Queens problem as a classic back tracking example -

Type of Issue -
Please add/delete options that are not relevant.

 Adding New Code
Programming Language
Please add/delete options that are not relevant.

 C++
Self Check
Ask for issue assignment before making Pull Request.
Add your file in the proper folder
Clean

[2020-10-17 12:37] Ms3105 commented on #471
Please assign it to me.

[2020-10-17 12:46] Ms3105 opened #473 "Permutation using backtracking | c++"
All permutation Problem using backtracking in C++ -
Adding code to implement All permutation as a classic back tracking example -

Type of Issue -
Please add/delete options that are not relevant.

Adding New Code
Programming Language
Please add/delete options that are not relevant.

C++
Self Check
Ask for issue assignment before making Pull Request.
Add your file in the proper folder
Clean Code an

[2020-10-17 12:46] Ms3105 commented on #473
please assign it to me

[2020-10-17 12:49] Ms3105 opened #476 "Sudoku solver using backtracking | C++"
Sudoku solver Problem using backtracking in C++ -
Adding code to implement Sudoku solver  as a classic back tracking example -

Type of Issue -
Please add/delete options that are not relevant.

Adding New Code
Programming Language
Please add/delete options that are not relevant.

C++
Self Check
Ask for issue assignment before making Pull Request.
Add your file in the proper folder
Clean Code and D

[2020-10-17 12:49] Ms3105 commented on #476
please assign it to me

[2020-10-17 12:51] arpit7714 commented on #445
Issue already present #409

[2020-10-17 12:58] arpit7714 opened #479 "Dijkstra’s shortest path algorithm | C++"
## **`Title`** - Dijkstra’s shortest path algorithm

**what will change** - Adding Dijkstra’s Algorithm

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] C
- [ ] Go
- [ ] Oth

[2020-10-17 12:58] arpit7714 commented on #479
please assign it to me

[2020-10-17 13:22] rahul975337 commented on #410
can i work on this?

[2020-10-17 13:28] SnehhaPadmanabhan opened #481 "Word break problem | Backtracking | C++"
## **`Word breaking problem`** - Given an string and a dictionary of words, find out if the input string can be broken into a space-separated sequence of one or more dictionary words

**what will change** - Adding code for word break problem using backtracking in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving D

[2020-10-17 13:28] SnehhaPadmanabhan commented on #481
Please assign this issue to me. Thanks!

[2020-10-17 13:38] #440 closed

[2020-10-17 13:39] #375 closed

[2020-10-17 13:41] #426 closed

[2020-10-17 13:42] #435 closed

[2020-10-17 13:43] #455 closed

[2020-10-17 13:44] #454 closed

[2020-10-17 13:45] #357 closed

[2020-10-17 13:46] #417 closed

[2020-10-17 13:47] #363 closed

[2020-10-17 13:48] #409 closed

[2020-10-17 13:50] #351 closed

[2020-10-17 13:51] #355 closed

[2020-10-17 14:05] keshavga1209 opened #484 "Interpolation Search | C++"
## **`Title`** - Interpolation Search

**what will change** - Adding code for implementation of Interpolation search.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] C
- [

[2020-10-17 14:06] keshavga1209 commented on #484
I want to add code for interpolation search algorithm. Can you please assign it to me?

[2020-10-17 14:10] Jeewantha95 commented on #484
Can i contribute\-

[2020-10-17 14:15] arpit7714 opened #488 "Longest Palindromic Substring | C++"
## **`Title`** - Longest Palindromic Substring

**what will change** - Adding Longest Palindromic Substring Using Dynamic Programming

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] J

[2020-10-17 14:15] arpit7714 commented on #488
Please assign this issue to me. Thanks!

[2020-10-17 14:50] olivia26 commented on #406
can i be assigned? I'm new to this Git. I want to contribute.

[2020-10-17 15:02] Anurajeev commented on #365
Could you assign this to me

[2020-10-17 15:04] Anurajeev commented on #356
could you please assign this to me

[2020-10-17 15:09] Anurajeev commented on #473
Can you please assign this to me

[2020-10-17 15:17] Anurajeev commented on #406
i like to contribute...can you assign to me

[2020-10-17 15:23] anujjain5699 commented on #365
plz assign this issue to me

[2020-10-17 15:24] anujjain5699 commented on #446
plz assign this issue to me

[2020-10-17 15:28] Philip-W opened #490 "Add test cases for Stack data structure | Python"
## **Add test cases for Stack DS**

**what will change** - A new file should be added under the Python Stack implementation in order to check our implementation is correct and acts as it should. The current implementation may have to be altered in order to provide a sufficient public interface to enable testing.

### Type of Issue - Enhancement

Please add/delete options that are not relevant.

-

[2020-10-17 15:29] Philip-W commented on #490
If you could assign to me I have a PR I can submit for review :)

[2020-10-17 15:34] PrasanthChettri commented on #330
@liamm91  Yeah man you can take this issue, I am currently not in a position to contribute cause of 'rona

[2020-10-17 15:35] liamm91 commented on #330
thanks, hope you get better!

[2020-10-17 16:43] codeit-dotcom commented on #479
can you assign this to me?

[2020-10-17 16:54] codeit-dotcom commented on #376
please assign this to me.

[2020-10-17 17:13] vidhya001 opened #495 "Fractional Knapsack Problem - Greedy Method| c++"
## **`Title`** -Fractional Knapsack Problem - Greedy Method

**what will change** -Add a c++ code that solves Fractional Knapsack Problem using Greedy Method

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

- [x] C

### Self Check

- Ask for issue assignment before m

[2020-10-17 17:13] vidhya001 commented on #495
please assign this to me

[2020-10-17 17:49] pedrousp opened #498 "Jump Search | C"
## Adding Jump Search Algorithm in C

**what will change** - It'll be added jump search algorithm in C.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean

[2020-10-17 17:49] pedrousp commented on #498
Please, assign this to me

[2020-10-17 18:46] namankhurpia commented on #479
can i do it in Java, please assign it to me

[2020-10-17 18:51] namankhurpia commented on #481
Please assign it to me in Java, I can do it

[2020-10-18 03:21] ChetanaL09 commented on #400
Please assign this to me for Python

[2020-10-18 03:29] ChetanaL09 commented on #453
Please assign this to me for Python.

[2020-10-18 05:10] neha07kumari commented on #446
Please assign me this issue. Can I go for it using C or C++? @ritik-sys  @div-bargali

[2020-10-18 05:11] neha07kumari commented on #406
Please assign me this issue. @Gaurisha21  @div-bargali

[2020-10-18 05:13] neha07kumari commented on #479
Please assign me this issue . I want to contribute it in C. Can I? @arpit7714  @div-bargali

[2020-10-18 07:24] sahebsunny opened #502 "Quick sort | C++"
## **`Quick sort`** -
**A file with code of Quick sort.**

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readab

[2020-10-18 07:25] sahebsunny commented on #502
Sir, I appreciate it if you could assign this issue to me. I really love to work on it.
Thank you.

[2020-10-18 07:26] leli-1 commented on #354
Can i solve this if it is available? Can you assign it to me ?

[2020-10-18 07:35] sahebsunny opened #503 "Z algorithm | C++"
## **`Z algorithm`** -

**what will change** - Adding Z algorithm.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for bett

[2020-10-18 07:36] sahebsunny commented on #503
I appreciate it if you could assign this issue to me. I love to work on it.
Thank you.

[2020-10-18 07:43] sahebsunny opened #504 "A* search algorithm | C++"
## **`A* search algorithm`** -

**what will change** - Adding A* search algorithm.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documen

[2020-10-18 07:43] sahebsunny commented on #504
I appreciate it if you could assign this issue to me. I love to work on it.
Thank you.

[2020-10-18 07:48] sahebsunny opened #505 "Selection sort | C++"
## **`Selection sort`** -

**what will change** - A file with code of Selection sort.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Docu

[2020-10-18 07:48] sahebsunny commented on #505
I appreciate it if you could assign this issue to me. I love to work on it.
Thank you.

[2020-10-18 07:54] sahebsunny opened #506 "Bubble sort | C"
## **`Bubble sort`** -

**what will change** - A file with code of Bubble sort implementation using C language.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder

[2020-10-18 07:55] sahebsunny commented on #506
I appreciate it if you could assign this issue to me. I love to work on it.
Thank you.

[2020-10-18 07:59] sahebsunny opened #507 "Cocktail shaker sort | C++"
## **`Cocktail shaker sort`** -

**what will change** - A file with code of Cocktail shaker sort.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Cod

[2020-10-18 08:00] sahebsunny commented on #507
I appreciate it if you could assign this issue to me. I love to work on it.
Thank you.

[2020-10-18 08:05] sahebsunny opened #509 "Fibonacci Search | C"
## **`Fibonacci Search`** -

**what will change** - Adding Fibonacci Search implementation using C language.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `

[2020-10-18 08:07] sahebsunny commented on #509
I appreciate it if you could assign this issue to me. I love to work on it.
Thank you.

[2020-10-18 08:23] sahebsunny opened #510 "Radix sort | C++"
## **`Radix sort`** -

**what will change** - A file with code of Radix sort implementation using C language

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
-

[2020-10-18 08:24] sahebsunny commented on #510
Please assign this issue to me.
thank you.

[2020-10-18 08:40] mkhy19 opened #511 "Shell sort | C++"
## **`Shell sort`** -

**A file with code of Shell sort.** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the pr

[2020-10-18 08:56] ksinha5nov opened #512 "Deletion From a Binary Search Tree | C++"
## **`Deleting an Element From a Binary Search Tree`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documenta

[2020-10-18 08:56] ksinha5nov commented on #512
Please assign this issue to me, Thank you.

[2020-10-18 09:04] ksinha5nov opened #513 "Infix to Postfix Conversion | C++"
## **`Conversion of an Infix Expression to a Postfix Expression`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-10-18 09:04] ksinha5nov commented on #513
Please Assign this issue to me, Thank you.

[2020-10-18 09:10] #406 closed

[2020-10-18 09:11] #476 closed

[2020-10-18 09:12] #376 closed

[2020-10-18 09:13] #297 closed

[2020-10-18 09:14] #473 closed

[2020-10-18 09:15] #471 closed

[2020-10-18 09:15] #468 closed

[2020-10-18 09:16] #356 closed

[2020-10-18 09:17] #446 closed

[2020-10-18 09:17] #400 closed

[2020-10-18 09:19] #399 closed

[2020-10-18 09:19] #354 closed

[2020-10-18 09:22] #460 closed

[2020-10-18 09:23] #511 closed

[2020-10-18 09:24] #410 closed

[2020-10-18 09:27] #502 closed

[2020-10-18 09:28] #505 closed

[2020-10-18 09:28] #510 closed

[2020-10-18 09:31] div-bargali commented on #506
@sahebsunny Do not open issues on topics ehich are already implemented. They will not be entertained!

[2020-10-18 09:31] #506 closed

[2020-10-18 09:34] anujjain5699 commented on #512
Please assign this issue to me

[2020-10-18 09:42] #481 closed

[2020-10-18 10:03] Pysche666 opened #517 "Remove numbers that are more than two standard deviations away from average | Java"
## **`Removing anomalies from set of numbers`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-10-18 10:03] Pysche666 commented on #517
Please assign this issue to me. Thanks!

[2020-10-18 10:09] Pysche666 opened #518 "Decode RLE data stored in an array | Java"
## **`Decoding RLE data`** -

**New file addition** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabili

[2020-10-18 10:09] Pysche666 commented on #518
Please assign this issue to me. Thanks!

[2020-10-18 12:11] SAKSHI2569 commented on #365
can you please assign me this issue?

[2020-10-18 12:25] SAKSHI2569 commented on #509
can you please assign me this issue?

[2020-10-18 13:10] Soham182001 opened #526 "Data Structure - Nested_Linked_List | C"
## **`Title`**  Linked Of Linked List in C

**what will change**

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife

[2020-10-18 13:12] Soham182001 commented on #526
I have already completed the code can you please assign this issue to me.

[2020-10-18 13:19] almas33 opened #527 "Karatsuba Algorithm | Java"
## **`Title`** -
Karatsuba Algorithm | Java

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for be

[2020-10-18 13:20] Sumanya312 commented on #512
Please assign this issue to me sir.

[2020-10-18 13:21] almas33 commented on #527
Please assign this issue to me. Thank you

[2020-10-18 13:28] div-bargali commented on #526
Linked list is already implemented.

[2020-10-18 13:29] #453 closed

[2020-10-18 13:31] #495 closed

[2020-10-18 13:33] #490 closed

[2020-10-18 13:34] SynneK1337 commented on #341
Please assign me to this issue as I finished working on this one.

[2020-10-18 13:35] MarkusJx opened #528 "Bellman-Ford Algorithm | Java"
## **`Bellman-Ford Algorithm`** -

**what will change** Adding the Bellman-Ford Algorithm

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and

[2020-10-18 13:35] MarkusJx commented on #528
Please assign this to me

[2020-10-18 13:37] #484 closed

[2020-10-18 13:38] Soham182001 commented on #526
Its Nested Linked List and it is different from the simple linked list and we have to define two structures and we have to manage two addresses for the node.

[2020-10-18 13:38] #488 closed

[2020-10-18 13:40] div-bargali commented on #526
Title wasn't clear before. You can work on this issue. 👍

[2020-10-18 13:52] ji-sang-geun opened #531 "Analyze performance, translate readme files, comment and find typos | C++ or C"
## **`Title`** -
Is it possible to analyze the performance, translate the Readme file, and comment on the file?
**what will change** -
I'm trying to perform a performance analysis of your code, but I've committed to asking if it's possible Also, can the Readme file in English be translated into Korean?
If the Readme file is translated into Korean, Koreans who are blocked by language barriers appro

[2020-10-18 13:54] Sumanya312 commented on #459
Please assign this to me

[2020-10-18 14:05] rishika-singh49 commented on #513
can i do this

[2020-10-18 14:12] Levi-ackerman24 commented on #479
assign it to me for c#

[2020-10-18 14:13] demonslayer99 commented on #479
assign it to me for c#

[2020-10-18 15:27] surya-x commented on #479
Please assign to me, i'll be doing it in C and Python.

[2020-10-18 15:28] surya-x commented on #405
Please assign it to me, i'll be doing it in Python and C.

[2020-10-18 16:05] div-bargali commented on #531
@ji-sang-geun Great issue. Will look forward for your PR 😃

[2020-10-18 16:08] #513 closed

[2020-10-18 16:09] #365 closed

[2020-10-18 16:19] #528 closed

[2020-10-18 16:20] #517 closed

[2020-10-18 16:22] #518 closed

[2020-10-18 16:23] #498 closed

[2020-10-18 16:23] #367 closed

[2020-10-18 16:24] #527 closed

[2020-10-18 16:40] MarkusJx opened #543 "BFS | Java"
## **`Breadth-first-search in Java`**

**Add BFS in Java**

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better read

[2020-10-18 16:40] MarkusJx commented on #543
Please assign me to this

[2020-10-18 17:28] iepsenn commented on #330
Hi, I want to be assigned on this issue

[2020-10-18 19:00] MarkusJx opened #546 "Ford-Fulkerson | Java"
## **`Ford-Fulkerson`** - Java

**Add the Ford-Fulkerson Algorithm in Java**

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descr

[2020-10-18 19:01] MarkusJx commented on #546
Please assign this to me

[2020-10-18 19:38] Philip-W opened #547 "Add test for Queue | Go"
## **`Add Test for Queue`**

**what will change** - Tests should be added for the current queue implementation

### Type of Issue - Enhancement

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [ ] C++
- [ ] Java
- [ ] C

[2020-10-18 19:38] Philip-W commented on #547
Got a PR lined up if you want to assign to me.

[2020-10-19 03:52] anuj840 commented on #479
please assign it to me

[2020-10-19 05:26] #526 closed

[2020-10-19 05:26] #512 closed

[2020-10-19 05:28] #479 closed

[2020-10-19 05:29] #543 closed

[2020-10-19 05:30] #402 closed

[2020-10-19 05:31] #405 closed

[2020-10-19 05:32] #96 closed

[2020-10-19 07:38] yashaswibiyahut opened #556 "Bellman Ford Algorithm | C++"
**Bellman-Ford Algorithm**

**what will change** - Adding Bellman-Ford Algorithm implementation using C++ language.

### Type of Issue -

Please add/delete options that are not relevant.
- [x] Adding New Code

### Programming Language
C++

Please add/delete options that are not relevant.

- [x]  C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file to the prop

[2020-10-19 07:38] yashaswibiyahut commented on #556
I appreciate it if you could assign this issue to me @div-bargali
Thank you.

[2020-10-19 08:25] #547 closed

[2020-10-19 09:21] GabrielMotaBLima opened #559 "Factorial Algorithm | C"
## **Factorial Algorithm** -

**what will change** - Adding Factorial Algorithm implementation using C language.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language
C

Please add/delete options that are not relevant.

- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper fold

[2020-10-19 09:22] GabrielMotaBLima commented on #559
I appreciate it if you could assign this issue to me. I love to work on it.
Thank you.

[2020-10-19 09:24] MarkusJx opened #560 "Ford-Fulkerson | C++"
## **`Ford-Fulkerson`** - C++

**Add the Ford-Fulkerson Algorithm in C++**

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-10-19 09:24] MarkusJx commented on #560
Please assign this to me

[2020-10-19 12:28] GabrielMotaBLima opened #561 "Circular Doubly Linked List | C"
## **Circular Doubly Linked List** -

**what will change** - Adding Circular Doubly Linked List implementation using C language.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in t

[2020-10-19 12:28] GabrielMotaBLima commented on #561
I appreciate it if you could assign this issue to me. I love to work on it.
Thank you.

[2020-10-19 13:28] harshulab commented on #559
Could I please be assigned this issue?
Regards

[2020-10-19 14:02] stevhens opened #563 "Queue - Data Structure | Swift"
## **`Queue - Data Structure | Swift`**

**what will change** Adding Queue Data Structure in Swift

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Swift

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean

[2020-10-19 14:06] stevhens commented on #563
Please assign this to me @div-bargali

[2020-10-19 14:28] stevhens opened #564 "Stack - Data Structure | Swift"
## **`Stack - Data Structure | Swift`**

**what will change** Adding Stack Data Structure in Swift

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Swift

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean

[2020-10-19 14:28] stevhens commented on #564
please assign this to me @div-bargali

[2020-10-19 14:31] stevhens opened #565 "Double Linked List - Data Structure | Swift"
## **`Double Linked List - Data Structure | Swift`**

**what will change** Adding Double Linked List Simple Program in Swift

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Swift

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in t

[2020-10-19 14:31] stevhens commented on #565
please assign this to me @div-bargali

[2020-10-19 14:33] stevhens opened #566 "Single Linked List - Data Structure | Swift"
## **`Single Linked List - Data Structure | Swift`**

**what will change** Adding Single Linked List Simple Program in Swift

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Swift

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in t

[2020-10-19 14:33] heri2468 opened #567 "Algorithm or Data Structure name | Language"
## **`Title`** - Dynamic Programming

**what will change** -

### Type of Issue - Need to add Longest Palindromic Sequence

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] C
- [] Go
- [] Other lang

[2020-10-19 14:38] heri2468 opened #568 "Algorithm or Data Structure name | Language"
## **`Title`** - Dynamic Programming

**what will change** -

### Type of Issue - need to add code for Coin Change Problem

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] C
- [] Go
- [] Other lang

[2020-10-19 14:39] natzoz opened #569 "Convert Binary Messages | Java"
## **`Convert Binary`** -

**Similar to my last issue, I will create a program that will decode Binary messages** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper

[2020-10-19 14:39] natzoz commented on #569
Hello, may I be assigned to this issue? Thank you! @div-bargali

[2020-10-19 14:50] heri2468 commented on #568
Hello Sir @div-bargali  , May I be assigned for adding the code for Coin Change Problem Dynamic Programming.
Thankyou

[2020-10-19 15:15] harshulab commented on #78
yes!

[2020-10-19 15:18] adyabansal opened #571 "Arrays | C++"
## **`Title`** - Sum of two Arrays

**what will change** - Add C++ implementation to add two different arrays

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder

[2020-10-19 15:18] adyabansal commented on #571
Please assign this issue to me

[2020-10-19 15:23] Anurag-ak99 commented on #571
Hey @adyabansal please assign this issue to me if its still open.

[2020-10-19 15:36] adyabansal opened #572 "BST | C++"
## **`Title`** - Pair Sum in a BST

**what will change** - Add C++ implementation to find a pair of nodes in a BST that sum to a given integer.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- A

[2020-10-19 15:36] adyabansal commented on #572
Please assign this issue to me

[2020-10-19 15:51] #569 closed

[2020-10-19 15:53] heri2468 opened #573 "Dynamic Programming C++"
## **`Title`** - Minimum Number of Jumps to reach an End of Array

**what will change** - Code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [] Improving Code
- [] Improving Documentation
- [] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] C
- [] Go
- [] Other language

###

[2020-10-19 15:53] #546 closed

[2020-10-19 16:03] heri2468 commented on #573
Is it possible for me to provide code for this Problem Statement @div-bargali

[2020-10-19 17:07] yoki-07 commented on #571
I also want to contribute in this. Please assign me this. @Anurag-ak99

[2020-10-19 17:26] dhruvbatra810 opened #575 "BST | java"
## **`BST`** -

**what will change** -
Addition of bst creation, node insertion ,node deletion
### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code`

[2020-10-19 17:29] me-anant commented on #561
Please assign me this issue. I want to contribute.
Thanks!

[2020-10-19 19:34] aroma6700 opened #578 "Stack | C++"
## **`Title`** -  Balanced Brackets

**what will change** - Add C++ implementation to check if the brackets are balanced using stack.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your fi

[2020-10-19 19:35] aroma6700 commented on #578
Please assign this issue to me

[2020-10-19 20:43] aroma6700 opened #579 "BST | C++"
## **`Title`** - Check BST

**what will change** -

### Type of Issue - Add C++ implementation to check if a  binary tree is a BST

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder

[2020-10-19 20:43] aroma6700 commented on #579
Please assign me the issue

[2020-10-19 20:56] pedrousp opened #580 "Mergesort 3way | C"
## Adding Mergesort 3way in C

**what will change** - It'll be added mergesort 3way in C. Mergesort 3way works differently than traditional mergesort. It divides the vector in 3 parts to merge it afterwards.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C

### Self Che

[2020-10-19 20:56] pedrousp commented on #580
Assign this to me, please.

[2020-10-20 03:44] stevhens commented on #563
Please review my Pull Request @div-bargali

Thank you

[2020-10-20 03:45] stevhens commented on #564
Please review my Pull Request @div-bargali

Thank you

[2020-10-20 03:45] stevhens commented on #565
Please review my Pull Request @div-bargali

Thank you

[2020-10-20 03:45] stevhens commented on #566
Please review my Pull Request @div-bargali

Thank you

[2020-10-20 04:15] ankita1618 commented on #578
Please assign this issue to me

[2020-10-20 04:18] ankita1618 commented on #571
Please assign this issue to me

[2020-10-20 04:44] drstrange11 opened #586 "Rabin Karp Algorithm | Python"
## **`Title`** -
Rabin Karp Algorithm

**what will change** -
Adding a new algorithm to the codebase for pattern searching.

### Type of Issue -
- [x] Adding New Code

### Programming Language

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Descrip

[2020-10-20 04:45] drstrange11 commented on #586
I will work on this. Hope its okay. If so, assign it to me. @div-bargali

[2020-10-20 04:49] drstrange11 opened #587 "Radix Sort | Java"
## **`Title`** -
Radix Sort implementation in Java

**what will change** -
Adding an algorithm to the codebase.

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the

[2020-10-20 04:50] drstrange11 commented on #587
I will work on this. Hope its okay. If so, please assign it to me. @div-bargali

[2020-10-20 04:52] drstrange11 opened #588 "KMP Algorithm | C"
## **`Title`** -
Implementation of KMP Algorithm in C

**what will change** -
Adding an algorithm in C to codebase

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the

[2020-10-20 04:53] drstrange11 commented on #588
I will work on this. Hope its okay. If so, please assign it to me. @div-bargali

[2020-10-20 05:44] #560 closed

[2020-10-20 05:45] #573 closed

[2020-10-20 05:46] #571 closed

[2020-10-20 05:47] #559 closed

[2020-10-20 05:48] #563 closed

[2020-10-20 05:48] #564 closed

[2020-10-20 05:48] #565 closed

[2020-10-20 05:49] #566 closed

[2020-10-20 05:51] #575 closed

[2020-10-20 06:21] stevhens opened #591 "Modularise Swift Folder | Swift"
## **`Modularise Swift Folder | Swift`**

**what will change**
- Swift Folder Contents (Files been lost after last PR, I will fix this)
- Readme docs (add Swift Language)

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Improving Documentation
- [x] Modularize Folders

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper

[2020-10-20 06:21] stevhens commented on #591
please assign this to me @div-bargali

[2020-10-20 10:16] div-bargali commented on #591
@stevhens Readme has been updated, if you still want to add something more your're welcome.

[2020-10-20 10:17] #579 closed

[2020-10-20 10:17] #572 closed

[2020-10-20 10:18] #568 closed

[2020-10-20 10:19] #567 closed

[2020-10-20 10:19] #339 closed

[2020-10-20 10:33] heri2468 opened #598 "AVL TREE INSERTION"
## **`Title`** - Data Structures

**what will change** - Add Code for AVL TREE

### Type of Issue - Missing Data Structure

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] C
- [] Go
- [] Other lang

[2020-10-20 10:34] heri2468 commented on #598
Am I eligible for adding code for AVL TREE INSERTION using LinkedList  @div-bargali ?

[2020-10-20 12:11] stevhens commented on #591
Thank you for your great work, I have decided to do the folders modularisation only.

[2020-10-20 12:12] stevhens commented on #591
Please review my Pull Request @div-bargali

Thank you

[2020-10-20 14:18] #591 closed

[2020-10-20 14:22] #556 closed

[2020-10-20 14:26] #578 closed

[2020-10-20 17:18] #598 closed

[2020-10-20 17:19] #580 closed

[2020-10-20 22:44] Philip-W opened #608 "Tests for Doubly linked list | Python"
## **`Tests for Doubly linked list`**

**what will change** - Add tests surrounding the doubly linked list implementation. The current implementation may have to change in order to provide a sufficient interface to test.

### Type of Issue - Enhancement

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [ ] Improving Documentation
- [x] Bug Fix

### Pro

[2020-10-20 22:44] Philip-W commented on #608
Got some code ready if you assign to me :)

[2020-10-21 05:01] ravjotkaamra opened #609 "0-1 Knapsack Problem | C++"
## **`Title`** - 0-1 Knapsack Problem

**what will change** - The code has many bugs in it, for example assignments statements are used in place of conditional statements, and I will add proper documentation as well.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete o

[2020-10-21 05:01] ravjotkaamra commented on #609
I would like to work on this issue.

[2020-10-21 05:02] snehaa1989 commented on #609
Please assign this to me

[2020-10-21 06:12] #609 closed

[2020-10-21 06:19] ravjotkaamra commented on #609
Please could you explain how is it duplicate, I haven't seen this issue raised by someone else and its also not fixed in the codebase as well.

[2020-10-21 09:36] heri2468 opened #613 "Data Structures"
## **`Title`** - LinkedList - Flattening a multilevel singly linked list

**what will change** -  Addition of Code

### Type of Issue -  Application of Linked List

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++

[2020-10-21 09:42] heri2468 commented on #613
If it's possible then assign me for contributing this application @div-bargali

[2020-10-21 12:24] ravjotkaamra commented on #609
Sir, I think you have confused my issue with #326 which is actually based on python but my issue is based on C++

[2020-10-21 13:29] 0Verlord-41 commented on #504
Is it still open?

[2020-10-21 13:30] 0Verlord-41 commented on #504
I would really love to help.

[2020-10-21 14:04] #561 closed

[2020-10-21 14:05] #608 closed

[2020-10-21 17:12] #613 closed

[2020-10-21 18:58] Pysche666 opened #618 "Longest run of heads or tails from sequence of heads and tails | C++"
## **`Find whether heads or tails had the longest run from a sequence of heads and tails`** -

**Adding a code** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper fo

[2020-10-21 18:58] Pysche666 commented on #618
Please assign this issue to me. Thanks!

[2020-10-22 03:30] heri2468 opened #622 "Graph Dfs Application"
## **`Title`** - Count the number of islands in a grid

**what will change** - Code will be added

### Type of Issue - Application of DFS

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] C
- [] Go

[2020-10-22 03:31] heri2468 commented on #622
please assign me @div-bargali @jai2dev  for this task, this is an interview question and a nice application of DFS

[2020-10-22 06:24] #509 closed

[2020-10-22 06:26] #459 closed

[2020-10-22 06:27] #587 closed

[2020-10-22 06:52] aniket173000 commented on #588
Hi can u assign this issue to me . I can implement this KMP algorithm in C and C++.

[2020-10-22 07:26] haider000 commented on #341
Please assign this issue to me. I would like to work on this as I made the project of sudoku solver just a month ago.

[2020-10-22 07:31] tyagi619 commented on #622
Can I solve this issue?

[2020-10-22 07:35] susheelg1197 opened #631 "Sum of Subset Problem | Python"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] C
- [x] Go
- [x] Other language

### Self Check

- Ask for issue assignment before

[2020-10-22 07:45] susheelg1197 commented on #631
Please assign me this issue

[2020-10-22 08:09] shubhamsolank24 commented on #374
i can work on this can you assign me this

[2020-10-22 08:09] ravjotkaamra opened #633 "Application of Binary Search | C++"
## **`Title`** - Aggressive Cows

**what will change** - Adding New Code

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Documentation

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clea

[2020-10-22 08:09] ravjotkaamra commented on #633
It's a famous problem on Binary Search, please assign this to me

[2020-10-22 08:41] #622 closed

[2020-10-22 08:42] #618 closed

[2020-10-22 08:44] #631 closed

[2020-10-22 08:46] #586 closed

[2020-10-22 08:57] potter1024 opened #636 "Algorithm or Data Structure name | Language"
## **`Sorting a Linked List by Merge Sort`** -

**what will change** - New code will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` a

[2020-10-22 08:57] potter1024 commented on #636
Hey, please assign it to me. It's a very important concept to sort a linked list using merge sort.

[2020-10-22 09:44] susheelg1197 opened #640 "N Queen Problem - Backtracking | Golang"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] C
- [x] Go
- [x] Other language

### Self Check

- Ask for issue assignment before

[2020-10-22 09:45] susheelg1197 commented on #640
Please assign me this issue

[2020-10-22 09:54] heri2468 opened #641 "Huffman Coding"
## **`Title`** - Huffman Coding

**what will change** - Greedy Algorithms

### Type of Issue -   Update of Code

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] C
- [] Go
- [] Other language

### S

[2020-10-22 09:55] heri2468 commented on #641
please assign me for providing code for this algorithm @div-bargali @jai2dev

[2020-10-22 10:26] #588 closed

[2020-10-22 10:36] palakdavda22 commented on #622
I would also like to add some variations in this question, please assign me this so that I can add more relevant material here.

[2020-10-22 11:03] peaky76 opened #644 "Pigeonhole Sort | Python"
## **Pigeonhole Sort for Python** -

**Adding an extra sorting algorithm for Python** -

### Type of Issue -

Please add/delete options that are not relevant.

- [] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `D

[2020-10-22 11:08] Shr03mink commented on #644
I would like to work on this issue

[2020-10-22 11:14] peaky76 commented on #644
I added it as I would like to do it myself!

[2020-10-22 11:18] RuteshRathod opened #645 "Merge Sort | Golang"
## **`Title`** - Merge Sort

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language
Golang
Please add/delete options that are not relevant.
- [x] Go

Please assign me this issue. I will be implementing this problem in golang

[2020-10-22 11:28] RuteshRathod commented on #645
Please assign me this issue. I will be implementing this problem in golang

[2020-10-22 11:37] sanjus-robotic-studio opened #649 "Face Mask Detection | python"
## **`Face Mask Detection`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [ ] Java
- [ ] C
- [ ] Go
- [ ] Other language

### Self Check

- Ask for issue assi

[2020-10-22 11:38] sanjus-robotic-studio commented on #649
Can you assign this to me

[2020-10-22 12:16] swati-gwc opened #650 "Fractional Knapsack | C"
## **`Fractional Knapsack` in C** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.
- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readabi

[2020-10-22 12:17] swati-gwc commented on #650
Please assign me this issue, I want to contribute to this.

[2020-10-22 12:35] Pandz18 opened #652 "Convert 24bit->8bit photo(with loss of colour) | C++"
Hello , I was wondering if I could submit a c++ program on converting a 24bit photo into an 8 but unfortunately will lead to a loss of colour of the photo .

Please add/delete options that are not relevant.

- [x] Adding New Code
- [  ] Improving Code
- [  ] Improving Documentation
- [  ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [. ] Python
- [x] C++
-

[2020-10-22 13:28] shreyasd302 opened #653 "Quick sort | Python"
## **`Title`** - Quick Sort

**what will change** - This will sort the given array using Quick sort algorithm.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper fol

[2020-10-22 13:29] shreyasd302 commented on #653
Can I do this please?

[2020-10-22 14:10] Apoorva-Datir opened #654 "Greedy Algorithm for Egyptian Fraction | Python"
## **Egyptian Fraction`** -

**This will represent every positive fraction as as sum of unique unit fractions.** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper

[2020-10-22 14:14] Apoorva-Datir commented on #654
can i work on it please?

[2020-10-22 14:52] sahebsunny opened #656 "Pigeonhole Sort | C++"
## **`Pigeonhole Sort`** -

**what will change** - A file with code of Pigeonhole Sort.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [ ] Java
- [ ] C
- [ ] Go
- [ ] Other language

###

[2020-10-22 14:53] gabrielChireia opened #657 "Bubble Sort | Java"
## **`Bubble Sort in Java`**

**This is going to sort an array using the bubble sort method in java applications.**

### Type of Issue

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of th

[2020-10-22 14:53] gabrielChireia commented on #657
Please, assign this to me.

[2020-10-22 14:53] snehaa1989 commented on #656
please assign this to me, and review my PR

[2020-10-22 14:56] gabrielChireia opened #658 "Selection Sort | Java"
## **`Selection Sort in Java`**

**This is going to sort an array using the selection sort method in java applications.**

### Type of Issue

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description`

[2020-10-22 14:56] gabrielChireia commented on #658
Please, assigns this task to me.

[2020-10-22 14:57] gabrielChireia opened #659 "Radix Sort | Java"
## **`Radix Sort in Java`**

**This is going to sort an array using the radix sort method in java applications.**

### Type of Issue

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the

[2020-10-22 14:57] gabrielChireia commented on #659
Please, assign this task to me.

[2020-10-22 14:59] gabrielChireia opened #660 "Bitonic Sort | Java"
## **`Bitonic Sort in Java`**

**This is going to sort an array using the bitonic sort method in java applications.**

### Type of Issue

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of

[2020-10-22 15:00] gabrielChireia commented on #660
Please, assign this task to me.

[2020-10-22 16:05] datasorceress commented on #654
Can I work on this?

[2020-10-22 16:06] datasorceress commented on #653
Can I do this one?

[2020-10-22 16:10] kakashi215 commented on #278
I was looking for some algorithms to contribute as well.
@astha01 are you working on it?
Could i work along?

[2020-10-22 16:23] manavbhikadiya commented on #650
I have solution of this problem. please assign this to me and also i have good knowledge of data structure and algorithm.

[2020-10-22 16:30] datasorceress commented on #278
I would like to contribute!

[2020-10-22 16:31] manavbhikadiya commented on #645
please assign it to me i have the solution of the merge sort among the sorting algorithms

[2020-10-22 16:37] #636 closed

[2020-10-22 16:38] #640 closed

[2020-10-22 16:39] #507 closed

[2020-10-22 16:40] #633 closed

[2020-10-22 16:44] #659 closed

[2020-10-22 16:44] #658 closed

[2020-10-22 16:45] #657 closed

[2020-10-22 16:46] #653 closed

[2020-10-22 16:46] verma-pulkit commented on #656
I would like to work on this in cpp.

[2020-10-22 16:46] datasorceress commented on #644
Can I do this one?

[2020-10-22 16:47] div-bargali commented on #652
@Pandz18 Sure go ahead, make sure it's inside the algorithms folder, and if it's a specific algorithm name it as a folder as well.

[2020-10-22 16:50] potter1024 opened #662 "Segment Tree with Lazy Propagation | C++"
## **`Segment Tree with Lazy Propagation`** -

**what will change** - New code will be added

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` an

[2020-10-22 16:50] potter1024 commented on #662
Please assign it to me.

[2020-10-22 17:22] RuteshRathod opened #667 "Bubble Sort | Golang"
## **`Title`** - Bubble Sort | Golang

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language
- [x] Go

**_Please assign me this issue. I will be implementing this problem in golang_**

[2020-10-22 17:29] Faaatman opened #668 "Bucket sort | Python"
## **`Bucket sort Python`** -

**what will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the progra

[2020-10-22 18:12] #641 closed

[2020-10-22 18:13] #662 closed

[2020-10-22 18:14] #645 closed

[2020-10-22 18:15] #668 closed

[2020-10-22 19:52] divitagulati commented on #656
Hey there,
I would like to work on it. Can you please assign this to me?

[2020-10-22 21:32] VarunSharma117 opened #677 "Bubble sort to sort an array in descending order"
## **`Title`** -

To add **Bubble sort** to sort an array in **descending order** in java
This algorithm isn't implemented yet. Please, assign it to me.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Re

[2020-10-23 03:21] Pandz18 commented on #652
@div-bargali  , thank. you , will do

[2020-10-23 05:05] Dilip-Jain opened #681 "Priority Queue | Python"
## **`Title`** - Adding Priority Queue using Python

**what will change** - Priority Queue is a special type of data structure in which items can be inserted or deleted based on the priority. Priority Queue will be added in the data structures, implemented on python.

### Type of Issue -Priority Queue missing.

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving

[2020-10-23 05:06] Dilip-Jain commented on #681
Please assign this to me. Thank You :)

[2020-10-23 05:22] #667 closed

[2020-10-23 05:24] #650 closed

[2020-10-23 05:30] div-bargali commented on #677
I don't see any reason why this issue is needed. All it needs is changing the comparison operator to sort in descending order.

#### CLOSED

[2020-10-23 05:30] #677 closed

[2020-10-23 05:32] #649 closed

[2020-10-23 05:38] #652 closed

[2020-10-23 05:54] namrata18s commented on #656
Could you assign me for java/python?

[2020-10-23 05:55] namrata18s commented on #681
Could you assign this task yo me?

[2020-10-23 06:06] namrata18s commented on #656
Could you assign me for C# language?

[2020-10-23 07:22] #681 closed

[2020-10-23 07:54] Subigya-Rai opened #683 "Word Break Problem (dynamic programming) | C++"
## **`Word break problem in C++`** -

**what will change** -  Add solution of Word break Problem in Dynamic Programming Section.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in

[2020-10-23 07:55] Subigya-Rai commented on #683
Please Assign this issue to me

[2020-10-23 08:20] susheelg1197 opened #684 "Insertion Sort | Golang"
## **`Title`** -

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java
- [x] C
- [x] Go
- [x] Other language

### Self Check

- Ask for issue assignment before

[2020-10-23 08:20] susheelg1197 commented on #684
Assign this issue to me I will be writing this in golang.

[2020-10-23 08:35] jai2dev commented on #504
@0Verlord-41 you can do it in any other language like python; make sure to open a different issue for it

[2020-10-23 09:34] Dilip-Jain opened #685 "Preemptive Priority Process Scheduling algorithm | C"
## **`Title`** - Preemptive Priority Process Scheduling algorithm

**what will change** - Adding an Operating Systems scheduling algorithm- Preemptive Priority Process Scheduling algorithm implemented using C programming.

### Type of Issue - Adding Preemptive Priority Process Scheduling algorithm.

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x]

[2020-10-23 09:35] Dilip-Jain commented on #685
Please assign it to me. I have started working on it. Thank You :)

[2020-10-23 13:29] #685 closed

[2020-10-23 14:55] #644 closed

[2020-10-23 14:56] #654 closed

[2020-10-23 15:55] heri2468 opened #690 "Construct Expression Tree"
## **`Title`** - Trees

**what will change** - DataStructure

### Type of Issue - Code Missing

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] C
- [] Go
- [] Other language

### Self Check

- Ask

[2020-10-23 15:55] heri2468 commented on #690
pls assign @div-bargali @jai2dev  for this task

[2020-10-23 17:01] shreyasd302 opened #691 "Job Sequencing Problem | Python"
## **`Title`** -

**what will change** - This program will find out How to maximize total profit if only one job can be scheduled at a time.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
### Self Check

- Ask for issue assignment before making Pull Request.
- Ad

[2020-10-23 17:02] shreyasd302 commented on #691
Can I work on this please?

[2020-10-23 22:43] Faaatman opened #693 "Fibonacci search | Python"
## **Fibonacci search in Python**

**what will change** -

### Type of Issue -

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the pr

[2020-10-24 04:45] #691 closed

[2020-10-24 09:24] Apoorva-Datir opened #696 "Longest Bitonic Subsequence | Python"
## **`Longest Bitonic Subsequence`** -

**what will change** - This program will find the length of longest bitonic sequence(i.e. first increasing then decreasing) in given array.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue ass

[2020-10-24 09:24] Apoorva-Datir commented on #696
Can I work on this please??

[2020-10-24 09:46] Apoorva-Datir opened #697 "Smith number | Python"
## **`Smith number`** -

**what will change** - This program finds out whether a number is smith or not.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
-

[2020-10-24 09:47] Apoorva-Datir commented on #697
Can I work on this please?

[2020-10-24 10:54] heri2468 opened #699 "Hosoya's Triangle"
## **`Title`** - Mathematical

**what will change** - Algorithms

### Type of Issue - Code

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] C
- [] Go
- [] Other language

### Self Check

- Ask for

[2020-10-24 13:31] #684 closed

[2020-10-24 13:32] #690 closed

[2020-10-24 13:33] #78 closed

[2020-10-24 17:17] shreyasd302 opened #703 "Fibonacci search | java"
## **`Title`** - Fibonacci search

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better reada

[2020-10-24 17:17] shreyasd302 commented on #703
Can I work on this please?

[2020-10-24 18:43] NikitaGallegos commented on #699
I would like to be assigned this issue. I believe I can make a code which prints out a Hosoya's Triangle with my beginning knowledge of C++.

[2020-10-24 18:59] davbrito opened #706 "Single Linked List | C++"
## Enhance Single Linked List, C++

The data structure will be made generic so the data could be any type.
It will be crafted using OOP.

### Type of Issue -

Please add/delete options that are not relevant.

- [ ] Adding New Code
- [x] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
- [x] C++
- [

[2020-10-24 18:59] davbrito commented on #706
Please assign this issue to me

[2020-10-24 21:24] elizabethqiu commented on #703
I'd like to help out with this!

[2020-10-25 04:13] sbindal057 commented on #706
please assign this issue to me. I'll do it in c++

[2020-10-25 05:19] KhushiGangopadhyay opened #707 "trivial hashing in C++"
Trivial hashing

### Type of Issue -

Please add/delete options that are not relevant.

- Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [ ] Python
-  C++
- [ ] Java
- [ ] C
- [ ] Go
- [ ] Other language

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your

[2020-10-25 05:20] KhushiGangopadhyay commented on #707
please assign this to me

[2020-10-25 05:49] sawyer1997 commented on #707
I would like to try, please assign.

[2020-10-25 06:12] #693 closed

[2020-10-25 06:13] #696 closed

[2020-10-25 06:14] #699 closed

[2020-10-25 06:17] #504 closed

[2020-10-25 06:18] heri2468 opened #709 "Dynamic Programming"
## **`Title`** - Count number of unique paths to reach end of matrix starting from 0th pos

**what will change** -  Code

### Type of Issue -  Approach

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x] Java

[2020-10-25 06:18] heri2468 commented on #709
please assign me for this task @div-bargali  @jai2dev

[2020-10-25 07:00] sahebsunny commented on #503
@div-bargali
Sir, I am new to open source.
When I submitted this issue I did not know this algorithm is already been submitted by someone else(Data-Structures-and-Algorithms/C++/Algorithms/Pattern-Searching).
Sir now what should I do, should I send my Pr with the implementation of Z_algorithm?
Thank you for your time.

[2020-10-25 09:13] nazuk27 opened #713 "Tree: Huffman Decoding | C++"
## **`Title`** - Tree: Huffman Decoding

**what will change** - Adding new code to find Huffman Decoded string

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder

[2020-10-25 09:14] nazuk27 commented on #713
Please assign this issue to me.

[2020-10-25 09:29] nibbithecoder commented on #707
please assign this task to me .

[2020-10-25 09:38] SoumyaMalgonde opened #714 "Longest Common Subsequence | DP | Go"
**What will change -**

- [x] LCS in Go language

**Type of Issue -**

- [x] Adding New Code

**Programming Language -**

- [x] Go

**Self Check**

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- Clean Code and Documentation for better readability
- Add Title and Description of the program in the file

🌟 Star it 🍴Fork it 🤝 Contribute to it!

Happy Codi

[2020-10-25 09:40] SoumyaMalgonde commented on #714
@div-bargali  I would like to contribute. Kindly assign this issue to me.

[2020-10-25 09:43] SoumyaMalgonde opened #715 "Edit Distance | DP | Go"
**What will change -**

- [x] Edit Distance in Go language

**Type of Issue -**

- [x] Adding New Code

**Programming Language -**

- [x] Go

**Self Check**

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- Clean Code and Documentation for better readability
- Add Title and Description of the program in the file

🌟 Star it 🍴Fork it 🤝 Contribute to it!

[2020-10-25 09:43] SoumyaMalgonde commented on #715
@div-bargali  I would like to contribute. Kindly assign this issue to me.

[2020-10-25 10:36] #656 closed

[2020-10-25 10:37] #703 closed

[2020-10-25 10:54] loge1998 opened #716 "Word Break (DP Problem) | C++"
## **`Word Break (DP Problem) | C++`** -

**what will change** -
Problem statement
Given an input string and a dictionary of words, find out if the input string can be segmented into a space-separated sequence of dictionary words

I will add solution to this problem in c++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Pleas

[2020-10-25 12:44] 0Verlord-41 opened #717 "Depth First Search | Graph Data Structure |Python"
### What will change
- [x] DFS in Python would be added in the Graph Data structure

### Type of Issue -
- [x] Adding New Code

### Programming Language
- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file to the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2:

[2020-10-25 12:44] 0Verlord-41 commented on #717
I would be really glad if you can assign this to me.

[2020-10-25 13:59] Malik-Abdulaziz-Akbar opened #719 "Linear Regression using Normal Equation | Python"
## **`Title`** -
- [x] Adding Linear Regression Using Normal Equations
**what will change** -
- [x] Adding new code
### Type of Issue -
- [x] Python Algorithm
Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [ ] C++
- [

[2020-10-25 14:02] Malik-Abdulaziz-Akbar commented on #719
I would be happy if assigned this to me

[2020-10-25 14:58] div-bargali commented on #98
Up for grabs!

[2020-10-25 14:58] div-bargali commented on #278
Assigned to @datasorceress

[2020-10-25 14:59] div-bargali commented on #326
Up for grabs!

[2020-10-25 14:59] KhushiGangopadhyay commented on #707
Hello @div-bargali, I have forked the repo and then i tried cloning but I am getting this error:

Cloning into 'Data-Structures-and-Algorithms'...
remote: Enumerating objects: 3899, done.
remote: Total 3899 (delta 0), reused 0 (delta 0), pack-reused 3899           bjects:  97% (3783/3899), 19.89 MiB | 4.36 MiB/s
Receiving objects: 100% (3899/3899), 20.27 MiB | 4.37 MiB/s, done.
Resolving deltas: 1

[2020-10-25 15:01] #713 closed

[2020-10-25 15:05] nazuk27 opened #720 "Reverse a doubly linked list | Python"
## **`Title`** - Reverse a doubly linked list

**what will change** - Add a new code to find the reversed doubly linked list

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in

[2020-10-25 15:05] nazuk27 commented on #720
Please assign this issue to me. Thanks!

[2020-10-25 15:08] vishal-wadhwa opened #721 "Heap Sort | Go"
## **`Title`** -

**what will change** - Add heap sort implementation in Go

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Go

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation`

[2020-10-25 15:08] vishal-wadhwa commented on #721
Please assign this issue to me, thanks!

[2020-10-25 15:24] amaanmohd047 opened #722 "Queue Using Stacks | Python"
## **`Title`** - ** Implement Queue Using Stacks **

**what will change** -

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- A

[2020-10-25 15:24] amaanmohd047 commented on #722
Please assign this issue to  me

[2020-10-25 15:59] vishal-wadhwa opened #726 "Depth First Search | Go"
## **`Title`** -

**what will change** - Add go implementation for a simple depth first search algorithm

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Go

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Cle

[2020-10-25 15:59] vishal-wadhwa commented on #726
Please assign this issue to me, thanks!

[2020-10-25 20:51] anbclausen opened #731 "Binary Search | Haskell"
## Where is all the functional stuff?
I would like to provide a simple algortihm (Binary Search) in Haskell and encourage people to create algorithms in functional languages.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not

[2020-10-26 00:14] davbrito opened #733 "A* Search Algorithm | C++"
## Rename A* Search Algorithm File -

The filename of https://github.com/div-bargali/Data-Structures-and-Algorithms/blob/main/C%2B%2B/Algorithms/Graph-Algorithms/A*_Search_Algorithm.cpp is causing problems on Windows when making pull with Git because of the `*` on its name.

### Type of Issue -

Please add/delete options that are not relevant.

- [ ] Adding New Code
- [ ] Improving Code
- [ ] Impr

[2020-10-26 00:15] davbrito commented on #733
It could be renamed as A-Star Search Algorithm

[2020-10-26 00:15] davbrito commented on #733
Assign it to me

[2020-10-26 08:43] Apoorva-Datir opened #738 "Longest Bitonic Subsequence | C++"
## **`Title`** -Longest Bitonic Subsequence

**what will change** -This program will find the length of longest bitonic sequence(i.e. first increasing then decreasing) in given array.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue as

[2020-10-26 08:44] Apoorva-Datir commented on #738
Can i work on this issue?

[2020-10-26 10:55] #721 closed

[2020-10-26 10:56] #706 closed

[2020-10-26 10:57] #451 closed

[2020-10-26 11:06] div-bargali commented on #707
@KhushiGangopadhyay It's naming error, will be fixed soon.

[2020-10-26 11:09] div-bargali commented on #733
@davbrito  Thank you for bringing it to our attention. It has been fixed now.

[2020-10-26 11:09] #733 closed

[2020-10-26 11:10] div-bargali commented on #707
Try cloning the repo again.

[2020-10-26 12:09] vishal-wadhwa commented on #726
Please check https://github.com/div-bargali/Data-Structures-and-Algorithms/pull/740

[2020-10-26 12:23] swathi-vennela opened #741 "Inversions Count | C++"
## **`Finding inversions count in an array | C++`** -

**what will change** - Add a solution to find Inversions count in an array in C++

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [ ] Improving Code
- [ ] Improving Documentation
- [ ] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [x] Python
- [x] C++
- [x

[2020-10-26 13:01] chiillax commented on #741
Could you please assign me for this task ?

[2020-10-26 13:08] hemanth-kotagiri opened #742 "Stack implementation using Doubly Linked Lists | C"
## **`Implement Stack using Doubly Linked Lists in C`**

### Type of Issue -

- [x] Adding New Code

### Programming Language
- [x] C

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:Fork it

[2020-10-26 13:08] hemanth-kotagiri commented on #742
I would like to be assigned for this. I already have the worked out the code, and I will immediately raise the PR. Thanks!

[2020-10-26 13:21] KhushiGangopadhyay commented on #707
@div-bargali I tried again but it shows the same error :(

[2020-10-26 13:25] hemanth-kotagiri commented on #742
@div-bargali Can you please assign me this issue, I forgot to add myself as an assignee. I already have the commit read to be raised as a PR. If you could add me, I will immediately raise the PR. Thanks, man!

[2020-10-26 13:34] nazuk27 commented on #720
Please review and accept the pull request. Thanks!

[2020-10-26 13:57] peaky76 opened #743 "Linear Search | C#"
## **Linear Search** -

A linear search algorithm for C#

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] C#

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:Fork

[2020-10-26 13:57] peaky76 commented on #743
I'd like to work on this please as I'm teaching myself C#

[2020-10-26 17:11] #726 closed

[2020-10-26 17:12] #720 closed

[2020-10-26 17:14] #716 closed

[2020-10-26 17:15] #719 closed

[2020-10-26 17:15] #714 closed

[2020-10-26 17:15] #715 closed

[2020-10-26 17:17] #709 closed

[2020-10-26 17:19] #722 closed

[2020-10-26 17:20] #697 closed

[2020-10-26 17:21] #731 closed

[2020-10-26 17:22] #717 closed

[2020-10-26 17:24] div-bargali commented on #707
@KhushiGangopadhyay You will have to delete your forked repo, and fork this repo again.

[2020-10-26 18:04] rachitmanas commented on #741
Can I also work on this?

[2020-10-26 18:17] anbclausen opened #746 "Insertion Sort | Haskell"
## Insertion Sort in Haskell

I will add an insertion sort algorithm, implemented in Haskell.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Other language

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Cl

[2020-10-26 18:29] Tascate opened #747 "Implement Queue using Two Stacks | Java"
## **`Implementing A Queue using Two Stacks`**

### Type of Issue -

- [x] Adding New Code

### Programming Language

- [x] Java

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documentation` for better readability
- Add `Title` and `Description` of the program in the file

:star2: Star it :fork_and_knife:Fork it :han

[2020-10-26 18:30] Tascate commented on #747
Please assign this issue to me! :)

[2020-10-26 18:34] anbclausen opened #748 "Bogo Sort | Haskell"
## Bogo Sort in Haskell

I will provide a bogo sort algorithm, implemented in Haskell. Mostly to show how to tackle randomness and loops in a purely functional language.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Other language

### Self Check

- Ask for issue assig

[2020-10-26 18:35] anbclausen commented on #746
Please assign this issue to me. :)

[2020-10-26 18:35] anbclausen commented on #748
Please assign this issue to me. :)

[2020-10-26 19:10] Krishna-Sivakumar commented on #98
I'm done with the code, can I claim this again? @div-bargali

[2020-10-26 19:23] Apoorva-Datir opened #752 "Fibonacci numbers | C++"
## **`Title`** -  Fibonacci numbers

**what will change** - This program prints nth fibonacci number when a number n is given.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in t

[2020-10-26 19:23] Apoorva-Datir commented on #752
Can i work on this?

[2020-10-26 19:35] Apoorva-Datir opened #753 "Pascal's triangle | Python"
## **`Title`** - Pascal's triangle

**what will change** - This program takes an integer value n as input and prints first n lines of the Pascal’s triangle.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making P

[2020-10-26 19:35] Apoorva-Datir commented on #753
Can I work on this issue?

[2020-10-26 22:35] Shreyas-Gupta-21 commented on #753
Hello I'm interested to contribute in this .

[2020-10-26 22:36] Shreyas-Gupta-21 commented on #752
Hello I'm interested to contribute in this .

[2020-10-26 22:43] Shreyas-Gupta-21 commented on #743
Interested to work on this.

[2020-10-26 22:45] Shreyas-Gupta-21 commented on #742
Interested to work on this.

[2020-10-26 22:49] Shreyas-Gupta-21 commented on #741
Hello I'm Interested to work on this. Pls assign this to me

[2020-10-26 23:48] Nitish-web-nik commented on #752
Please assign this issue to me.

[2020-10-26 23:49] Nitish-web-nik commented on #752
Please assign this issue to me @div-bargali .

[2020-10-26 23:50] Nitish-web-nik commented on #753
I want to contribute to this issue, please assign it to me @div-bargali .

[2020-10-27 00:50] davbrito opened #756 "Stack | C++"
## Implement Stack

Implement a stack data structure in https://github.com/div-bargali/Data-Structures-and-Algorithms/blob/main/C%2B%2B/Data-Structures/Stack/Stack.cpp . Because at this moment it just uses `std::stack`

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code

### Programming Language

Please add/delete options that are not

[2020-10-27 00:51] davbrito commented on #756
Assign this to me please

[2020-10-27 00:54] Nitish-web-nik commented on #746
I want to contribute to this issue, Please assign this to me.

[2020-10-27 00:56] Nitish-web-nik commented on #743
I want to contribute to this issue, Please assign this to me.

[2020-10-27 01:07] Nitish-web-nik commented on #756
**I want to contribute to this issue, Please assign this to me @div-bargali**

[2020-10-27 01:42] hemanth-kotagiri commented on #742
@Shreyas-Gupta-21 I have already worked on it and I've raised a PR as well. Here's my PR: #749

[2020-10-27 03:10] Helanmariyam commented on #752
am interested to contribute

[2020-10-27 03:26] swathi-vennela commented on #747
Please assign me for the C++ version of this issue

[2020-10-27 05:00] KhushiGangopadhyay commented on #707
warning: the following paths have collided (e.g. case-sensitive paths
on a case-insensitive filesystem) and only one from the same
colliding group is in the working tree:

  'C++/Data-Structures/LinkedList/OrderedLinkedListStrings.cpp'
  'C++/Data-Structures/LinkedList/OrderedLinkedlistStrings.cpp'

got this error now :(

[2020-10-27 08:24] #742 closed

[2020-10-27 08:28] #741 closed

[2020-10-27 08:29] #738 closed

[2020-10-27 08:30] #743 closed

[2020-10-27 08:36] div-bargali commented on #707
@KhushiGangopadhyay Can you please try it once more? Delete the forked repo from github, then fork it again.

[2020-10-27 08:52] kitteltom opened #758 "Principal Component Analysis (PCA) | Python"
## Principal Component Analysis (PCA)

Implement the Machine Learning Algo Principal Component Analysis.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
-

[2020-10-27 08:53] kitteltom commented on #758
@div-bargali Can you please assign this to me?

[2020-10-27 08:58] heri2468 opened #759 "Maximum Non Overlapping Bridges"
## **`Title`** - Dynamic Programming

**what will change** -  Algorithms

### Type of Issue -     Missing Code

Please add/delete options that are not relevant.

- [x] Adding New Code
- [x] Improving Code
- [x] Improving Documentation
- [x] Bug Fix

### Programming Language

Please add/delete options that are not relevant.

- [] Python
- [x] C++
- [] Java
- [] C
- [] Go
- [] Other language

### Se

[2020-10-27 09:38] #759 closed

[2020-10-27 09:46] Oratoccio commented on #752
Hello I'm interested to contribute.

[2020-10-27 10:09] KhushiGangopadhyay commented on #707
Done!!! :)

[2020-10-27 12:12] #707 closed

[2020-10-27 12:13] #746 closed

[2020-10-27 12:33] almas33 opened #763 "Activity Selection Problem | C++"
## **`Title`** -

Implement activity selection problem using Dynamic Programming

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] C++

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file in the proper folder
- `Clean Code` and `Documenta

[2020-10-27 12:34] almas33 commented on #763
I would like to work on this issue . Please assign this to me

[2020-10-27 12:37] anbclausen opened #764 "Bogo Sort | Python"
## Bogo Sort in Python

I will add a Bogo Sort algorithm implemented in Python. Mostly to show how to this could be implemented.

### Type of Issue -

Please add/delete options that are not relevant.

- [x] Adding New Code

### Programming Language

Please add/delete options that are not relevant.

- [x] Python

### Self Check

- Ask for issue assignment before making Pull Request.
- Add your file